{% spaceless %}
  <div id="contacts" class="section">
    <div class="wrap">

      <div class="column">

        {#
        <div class="t">
          <a href="skype:cursor.education?chat"><i class="icon skype" title="skype"></i><span>cursor.education</span></a>
        </div>
        #}

        <div class="t">
          <a href="mailto:info@cursor.education" target="_blank"><i class="icon email" title="email"></i><span>info@cursor.education</span></a>
        </div>

        <div class="t">
          <a href="https://www.linkedin.com/company/cursor-education" target="_blank"><i class="icon linkedin" title="linkedin"></i><span>linkedin.com/company/cursor-education</span></a>
        </div>

        <div class="t">
          <a href="https://github.com/cursor-education" target="_blank"><i class="icon github" title="https://github.com/cursor-education"></i><span>github.com/cursor-education</span></a>
        </div>

        <div class="t">
          <a href="https://vk.com/cursor.education" target="_blank"><i class="icon vkontakte" title="vkontakte"></i><span>vk.com/cursor.education</span></a>
        </div>

        {#
        <div class="t">
          <a href="#" target="_blank"><i class="icon facebook" title="facebook"></i><span>facebook.com/cursor.education</span></a>
        </div>
        #}

      </div>
      
      <div class="column column-padding">

        <div class="t">
          <a href="tel:+380630493115" target="_blank"><i class="icon phone" title="phone"></i><span>063 049 3115 <i class="desc">Остап</i></span></a>
        </div>

        <div class="t">
          <a href="tel:+380633088637" target="_blank"><i class="icon phone" title="phone"></i><span>063 308 8637 <i class="desc">Юра (QA курс)</i></span></a>
        </div>

        <div class="t">
          <a href="tel:+380974205963" target="_blank"><i class="icon phone" title="phone"></i><span>097 420 5963 <i class="desc">Роман (Web-UI, PHP курси)</i></span></a>
        </div>

        {#
        <div class="t">
          <a href="call://+333" target="_blank"><i class="icon phone" title="phone"></i><span>067 ??? ???? <i class="desc">хзхзхз (phone, SMS)</i></span></a>
        </div>
        #}

        {#
        <div class="t">
          <a href="call://+380938414884"><i class="icon viber" title="viber"></i><span>093 841 4884 <i class="desc">Роман (Viber, WhatsApp)</i></span></a>
        </div>
        #}

      </div>

      <br/>

      <div class="column" style="margin-top:30px">
        <div>Львів, вул. Джерельна 38</div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3638.575642802567!2d24.02819553374068!3d49.845059643971425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1449837162807"
          width="600"
          height="250"
          style="border:0; margin-top:10px;"
          frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
{% endspaceless %}
