{% spaceless %}
  <div id="contacts" class="section">
    <div class="wrap">

      <div class="column">

        {#
        <div class="t">
          <a href="skype:cursor.education?chat"><i class="icon skype" title="skype"></i><span>cursor.education</span></a>
        </div>
        #}

        <div class="t">
          <a href="mailto:info@cursor.education" target="_blank"><i class="icon email" title="email"></i><span>info@cursor.education</span></a>
        </div>

        <div class="t">
          <a href="https://www.linkedin.com/company/cursor-education" target="_blank"><i class="icon linkedin" title="linkedin"></i><span>linkedin.com/company/cursor-education</span></a>
        </div>

        <div class="t">
          <a href="https://github.com/cursor-education" target="_blank"><i class="icon github" title="https://github.com/cursor-education"></i><span>github.com/cursor-education</span></a>
        </div>

        <div class="t">
          <a href="https://vk.com/cursor.education" target="_blank"><i class="icon vkontakte" title="vkontakte"></i><span>vk.com/cursor.education</span></a>
        </div>

        {#
        <div class="t">
          <a href="#" target="_blank"><i class="icon facebook" title="facebook"></i><span>facebook.com/cursor.education</span></a>
        </div>
        #}

      </div>
      
      <div class="column column-padding">

        <div class="t">
          <a href="tel:+380630493115" target="_blank"><i class="icon phone" title="phone"></i><span>063 049 3115 <i class="desc">Остап</i></span></a>
        </div>

        <div class="t">
          <a href="tel:+380633088637" target="_blank"><i class="icon phone" title="phone"></i><span>063 308 8637 <i class="desc">Юра (QA курс)</i></span></a>
        </div>

        <div class="t">
          <a href="tel:+380974205963" target="_blank"><i class="icon phone" title="phone"></i><span>097 420 5963 <i class="desc">Роман (Web-UI, PHP курси)</i></span></a>
        </div>

        {#
        <div class="t">
          <a href="call://+333" target="_blank"><i class="icon phone" title="phone"></i><span>067 ??? ???? <i class="desc">хзхзхз (phone, SMS)</i></span></a>
        </div>
        #}

        {#
        <div class="t">
          <a href="call://+380938414884"><i class="icon viber" title="viber"></i><span>093 841 4884 <i class="desc">Роман (Viber, WhatsApp)</i></span></a>
        </div>
        #}

      </div>

      <br/>

      <div class="column" style="margin-top:30px; width:100%; display:inline;">
        <div>Львів, вул. Джерельна 38</div>
        <div id="lviv_office_map" style="width: 100%; height: 300px; margin-top:10px;"></div>
      </div>
      <script src="https://maps.googleapis.com/maps/api/js"></script>
      <script>
        var ukLatlng = new google.maps.LatLng(49.848817,24.021466);

        var ukMap = new google.maps.Map(document.getElementById("lviv_office_map"), {
          center: ukLatlng,
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        
        var ukMarker = new google.maps.Marker({
          position: ukLatlng,
          map: ukMap
        });
      </script>

    </div>
  </div>
{% endspaceless %}
