{% spaceless %}
  <div id="contacts" class="section">
    <div class="wrap">

      <div class="column">

        <div class="t">
          <a href="skype:cursor.education?chat"><i class="icon skype" title="skype"></i><span>cursor.education</span></a>
        </div>

        <div class="t">
          <a href="http://linkedin.com/" target="_blank"><i class="icon linkedin" title="linkedin"></i><span>linkedin.com/cursor.education</span></a>
        </div>

        <div class="t">
          <a href="mailto:info@cursor.education" target="_blank"><i class="icon email" title="email"></i><span>info@cursor.education</span></a>
        </div>

        <br/>

        <div class="t">
          <a href="#" target="_blank"><i class="icon vkontakte" title="vkontakte"></i><span>vk.com/cursor.education</span></a>
        </div>

        <div class="t">
          <a href="#" target="_blank"><i class="icon facebook" title="facebook"></i><span>facebook.com/cursor.education</span></a>
        </div>

      </div>
      <div class="column column-padding">

        <div class="t">
          <a href="call://+380938414884" target="_blank"><i class="icon phone" title="phone"></i><span>093 841 4884 <i class="desc">Роман (phone, SMS)</i></span></a>
        </div>

        <div class="t">
          <a href="call://+380676721646" target="_blank"><i class="icon phone" title="phone"></i><span>067 672 1646 <i class="desc">Андрій (phone, SMS)</i></span></a>
        </div>

        <div class="t">
          <a href="call://+380938414884"><i class="icon viber" title="viber"></i><span>093 841 4884 <i class="desc">Роман (Viber, WhatsApp)</i></span></a>
        </div>

      </div>

    </div>
  </div>
{% endspaceless %}