{% spaceless %}
  <div id="deeper" class="curve-after section">
    <div class="wrap clearfix">
      <div id='infographic' class='step1'>
        <h1 id='step1' class='active'>Долучись</h1>
        <h1 id='step2'>Отримай якісну освіту</h1>
        <h1 id='step3'>Працюй на посаді своєї мрії</h1>
      </div>
    </div>
  </div>
{% endspaceless %}