{% spaceless %}
<div id="go-deeper" class="curve-after section">
<div class="wrap clearfix">

    <i class="icon icon-large-notebook"></i>

    <span>
        Lorem ipsum dolor sit amet, ad cum eleifend principes. Vel idque recusabo imperdiet an, corrumpit deseruisse per et, an scaevola persecuti sit. Omnes ancillae eu mel, nec vitae officiis an, usu at equidem consulatu. In nam numquam neglegentur. Sonet dolores vivendum an mel. Cu purto instructior eos, dicit primis voluptaria nec id, at eos doming fuisset. In mea primis maiestatis, cu his euismod tincidunt, case utamur assentior ne nam. Ne nam euismod suavitate incorrupte, ad admodum nusquam adipiscing mei. Sumo solum abhorreant ex mei, pri inani similique id. Duo at modo vero, pro posse expetendis id. Diam errem elaboraret in pri.
    </span>

</div>
</div>
{% endspaceless %}