{% spaceless %}
  <div id="registration-form" class="section curve-after">
    <div class="wrap">

      <div class="bg-animated deus deus1 bg-form-1"></div>

      <b class="highlight">Наша ціль</b> &mdash; підготувати Вас, як кращого молодшого спеціаліста для створення майбутньої успішної кар'єри в IT.<br/>
      <br/>

      Курси "CURSOR" співпрацюють із з багатьма українськими та зарубіжними компаніями.<br/>
      <br/>

      Кожен із викладачів має великий практичний досвід розробки у великих компаніях, та є визнаними технічними спеціалістами та професіоналами у своїх областях. Кожен викладач технічного курсу є справжнім програмістом з досвідом роботи більше 5-и років, реалізувати сотні успішних проектів.<br/>
      <br/>

      В процесі навчання кожен студент оволодіє не тільки теоретичною інформацією, а й практичними навиками для її використання (у вигляді домашніх завдань, вирішення реальних завдань, та тестувань знань). <b class="highlight">Ми не робимо із студентів теоретиків, ми вчимо практиків!</b><br/>
      <br/>

      Після завершення курсу &mdash; <b class="highlight">ми допоможемо вам знайти роботу</b> в українській або зарубіжній компанії, і розпочати побудову своєї майбутньої кар'єри.<br/>
      <br/>

      У вигляді бонусів ми також надаємо знижки першим бажаючим навчатися.<br/>
      <br/>

      Задля підвищення мотивації для навчання, ми <b class="highlight">повертаємо кошти у розмірі 100% 3-ом кращим студентам</b>&nbsp;<font size="2">(кожному третьому)</font> у групах, а також <b class="highlight">найкращому студенту &mdash; гарантуємо працевлаштування</b>!

      <form class="light-form" method="post" action="{{ path('landing-form') }}">
        <h3>
          Якщо у Вас з'явилося бажання навчитися новому та покращити свої знання,<br/>
          або зацікавив любий із курсів,<br/>
          залиште свої контактні дані нижче, і ми вам перетелефонуємо.
        </h3>

        <br/>

        <div class="rows">
          <div class="row">
            <label for="name">Ім'я:</label>
            <input id="name" name="name" type="text" placeholder="Тарас Шевченко" validate required />
          </div>

          <div class="row">
            <label for="phone">Телефон:</label>
            <input id="phone" name="phone" type="text" placeholder="093 123 45 67" validate required pattern="^[\d\s\+\)\()\-]+$" />
          </div>

          <div class="row">
            <label for="name">Емейл:</label>
            <input id="email" name="email" type="email" placeholder="name@gmail.com" validate required />
          </div>
          
          <div class="row action">
            <input type="submit" value="Надіслати" />
            <i class="animate animate-landing"></i>
          </div>
        </div>

        <div id="message-success" class="hidden">Дякуємо за довіру! Скоро з вами зв'яжеться наш менеджер.</div>
        <div id="message-failed" class="hidden">Щось пішло не так.. Спробуйте ще раз, або зателефонуйте нам.</div>
      </form>

    </div>
  </div>
{% endspaceless %}