{% spaceless %}
  <div id="header-menu" class="animated" data-animate-from="150">
    <div class="wrap">

      <a href="{% if pageName == 'landing' %}javascript:;{% else %}/{% endif %}" id="logo">
        <i class="icon-big animated flip"></i>
        <i class="icon-small animated flip"></i>
        <span>CURSOR education</span>
      </a>

      <ul id="menu" class="animated fadeIn">
        <li><a href="/">Головна</a></li>

        <li><a href="{{ link|default('') }}#directions" class="go-to-top" data-top="directions">Напрямки</a></li>

        <li><a href="{{ link|default('') }}#teachers" class="go-to-top" data-top="teachers">Викладачі</a></li>

        <li><a href="{{ link|default('') }}#partners" class="go-to-top" data-top="partners">Партнери</a></li>

        <li><a href="{{ link|default('') }}#contacts" class="go-to-top" data-top="contacts">Контакти</a></li>
      </ul>

    </div>
  </div>
{% endspaceless %}