{% spaceless %}
  <div id="header">
    <div class="wrap">
      <div class="slogan clearfix animated flipInX">
        {# <span>Ми не школа. Ми не вуз.<br/>Ми просто навчаємо.</span> #}
        <span>Вчитися ніколи не пізно.<br/>Ми навчаємо.</span>
      </div>
    </div>
  </div>

  <div id="header-arrow"></div>
{% endspaceless %}