{% spaceless %}
<div id="header">

<div class="wrap">
  <div class="slogan clearfix animated flipInX">
    <span>Ми не школа. Ми не вуз.<br/>Ми просто навчаємо.</span>
  </div>
</div>

{#
<div class="wrap wrap2 hidden">
  <div class="slogan clearfix">
    <span>
      Ми навчаємо кращих.<br/>
      Приєднуйся до команди.
    </span>
  </div>
</div>
#}

</div>
<div id="header-arrow"></div>
{% endspaceless %}