{% spaceless %}
  <div id="partners" class="section curve-after">
    <div class="wrap">

      <h2>Партнери</h2>

      <div class="list clearfix">
        {% for partner in partners %}
          {% if not partner.link %}
            <div class="t-br"></div>
          {% else %}
            <div class="t">
              <a href="{{ partner.link }}" target="_blank" title="{{ partner.title }}"><img src="{{ partner.image }}" /></a>
            </div>
          {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>
{% endspaceless %}