{% spaceless %}
  <div id="partners" class="section curve-after">
    <div class="wrap">

      <h2>Партнери</h2>

      <div class="list clearfix">
        {% for partner in partners %}
        <div class="t">
          <a href="{{ partner.link }}" target="_blank" title="{{ partner.title }}"><img src="{{ partner.image }}" /></a>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endspaceless %}