{% spaceless %}
  <div id="partners" class="section curve-after">
    <div class="wrap">

      <h2>Партнери</h2>

      <div class="list clearfix">
        <div class="t">
          <a href="http://www.comein.lviv.ua/" target="_blank" title="Антикафе Come-In у Львові"><img src="/img/partners/comein-lviv-cafe.png" /></a>
        </div>

        <div class="t">
          <a href="http://betaplace.com.ua/" target="_blank" title="Коворкінг простір у Львові"><img src="/img/partners/betaplace-lviv-logo.png" /></a>
        </div>

        <div class="t">
          <a href="http://city-adm.lviv.ua/" target="_blank" title="Львівська міська рада"><img src="/img/partners/lviv-city-adm.png" /></a>
        </div>

        <div class="t">
          <a href="http://sii.org.ua/" target="_blank" title="Інститут Суспільних Ініціатив"><img src="http://sii.org.ua/wp-content/uploads/2014/09/Untitled-2.jpg" /></a>
        </div>


      </div>

    </div>
  </div>
{% endspaceless %}