{% spaceless %}
  <div id="contacts" class="section">
    <div class="wrap">

      <div class="column">

        {#
        <div class="t">
          <a href="skype:cursor.education?chat"><i class="icon skype" title="skype"></i><span>cursor.education</span></a>
        </div>
        #}

        <div class="t">
          <a href="mailto:support@cursor.education" target="_blank"><i class="icon email" title="email"></i><span>support@cursor.education</span></a>
        </div>

        <div class="t">
          <a href="https://www.linkedin.com/company/cursor-education" target="_blank"><i class="icon linkedin" title="linkedin"></i><span>linkedin.com/company/cursor-education</span></a>
        </div>

        <div class="t">
          <a href="https://github.com/cursor-education" target="_blank"><i class="icon github" title="https://github.com/cursor-education"></i><span>github.com/cursor-education</span></a>
        </div>

        <div class="t">
          <a href="https://vk.com/cursor.education" target="_blank"><i class="icon vkontakte" title="vkontakte"></i><span>vk.com/cursor.education</span></a>
        </div>

        <div class="t">
          <a href="https://facebook.com/education.cursor" target="_blank"><i class="icon facebook" title="facebook"></i><span>facebook.com/education.cursor</span></a>
        </div>

        <br/>
        <br/>

        <div class="t">
          <div>Офіс: м. Львів, вул. Джерельна 38</div>
        </div>

      </div>
      
      <div class="column column-padding">

        {#
        <div class="t">
          <a href="tel:+380630493115" target="_blank"><i class="icon phone" title="phone"></i><span>063 049 3115 <i class="desc">Остап</i></span></a>
        </div>
        #}

        <div class="t">
          <a href="tel:+380974205963" target="_blank"><i class="icon phone" title="phone"></i><span>097 420 5963 <i class="desc">Роман</i></span></a>
        </div>

        {#
        <div class="t">
          <a href="call://+333" target="_blank"><i class="icon phone" title="phone"></i><span>067 ??? ???? <i class="desc">хзхзхз (phone, SMS)</i></span></a>
        </div>
        #}

        {#
        <div class="t">
          <a href="call://+380938414884"><i class="icon viber" title="viber"></i><span>093 841 4884 <i class="desc">Роман (Viber, WhatsApp)</i></span></a>
        </div>
        #}

      </div>

    </div>

    <div class="wrap100">
      <div class="column" style="width:100%;">
        <div id="lviv_office_map" style="width: 100%; height: 300px; margin-top:10px;"></div>
      </div>
      
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    </div>
  </div>
{% endspaceless %}
