{% spaceless %}
  <div id="deeper" class="curve-after section">
    <div class="wrap clearfix">

      <i class="icon icon-large-notebook"></i>

      <span>
        Ви випускник останнього курсу інституту, або Вас захоплює світ програмування, чи може ви просто хочете змінити свою професію на іншу?<br/>
        
        <br/>
        
        Можливо, ви вже навіть спробували дивитися відеокурси, та самостійно зробити пару сайтів, однак врешті-решт зрозуміли, що <b>навчатися самостійно &mdash; неефективно і довго.</b>
        
        <br/>
        <br/>

        Програміст &mdash; одна із найакутальніших, та найвисокооплачуваніших професій 21-го віку.
        І стати програмістом, системним адміністратором чи тестувальником, <b>разом із нами &mdash; просто!</b>

        <br/>
        <br/>

        Кращим студентам ми <b>допомагаємо з працевлаштуванням</b>,
        а найкращим — <b>гарантуємо <span class="tooltip" data-tooltip="моніторинг ринку, резюме та як продати себе, підготовка та аналіз співбесід, і тд">допомогу та підтримку</span></b> після завершення курсів!
      </span>

    </div>
  </div>
{% endspaceless %}
