{% spaceless %}
  <div id="header">
    <div class="wrap">
      <div class="slogan clearfix animated flipInX">
        <span>Вчитися ніколи не пізно.<br/>Ми навчаємо.</span>
      </div>

      <div class="clearfix signup-button">
        <a href="#registration" class="button">Надіслати заявку!</a>
      </div>
    </div>
  </div>

  <div id="header-arrow"></div>
{% endspaceless %}