{% spaceless %}
  <div id="tools-for-students" class="section curve-after">
    <div class="wrap">

      <h2>Інструменти для студентів</h2>

      <div class="list clearfix">
        <div class="t">
          <a href="javascript:;" target="_blank" title="Mantis Bug Tracker">
            <img src="https://www.mantisbt.org/bugs/images/mantis_logo.png" />
            <div class="title">Mantis Bug Tracker</div>
          </a>
        </div>

        <div class="t">
          <a href="javascript:;" target="_blank" title="Atlassian JIRA">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/JIRA_logo.svg/1280px-JIRA_logo.svg.png" />
            <div class="title">Atlassian JIRA - Issue & Project Tracking</div>
          </a>
        </div>
      </div>

    </div>
  </div>
{% endspaceless %}