<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width"/>
</head>
<body style="font:13px Verdana; max-width:700px;">
  <table class="header" width="100%" border="0" style="background:#F3F3F3; padding:10px; margin-bottom:20px;">
    <tr>
      <td width="30px">
        <img width="30px" height="42px" alt="logo" src="{image_logo_small}" />
      </td>
      <td valign="center">
        <h2 style="display:initial; margin-left:10px; font-family:Verdana; font-size:27px;">CURSOR Education (Lviv)</h2>
      </td>
    </tr>
  </table>

  <div style="margin-top:5px;"><b>Дякуємо за реєстрацію, і за довіру!</b></div>
  <div style="margin-top:5px;">Згодом з вами зв'яжеться наш представник, та дасть відповідь за всі ваші питання.</div>

  <div style="margin-top:25px; margin-bottom:-6px;">Також хочемо розповісти про спеціальні пропозиції, акції та знижки, які зараз у нас проходять:</div>
  <ul>
    <li>За кожного приведеного друга - отримуй знижку <b>-10%</b></li>
    <li>На кожен наступний курс - спеціальна ціна (до <b>-30%</b> знижка)</li>
    <li>За репости у соціальних мережах - отримуй додаткові знижки</li>
  </ul>

  <table class="contacts" width="100%" border="0" style="background:#F9F9F9; padding:10px; margin-top:30px; color:#7B7B7B;">
    <tr>
      <td style="width:80px; font-weight:bold; font-family:Verdana; font-size:12px;">email</td>
      <td style="padding-bottom:5px; font-family:Verdana; font-size:12px;">support@cursor.education</td>
    </tr>
    <tr>
      <td style="width:80px; font-weight:bold; font-family:Verdana; font-size:12px;" valign="top">phone</td>
      <td style="padding-bottom:5px; font-family:Verdana; font-size:12px;">097-420-5963 Роман<br/>063-308-8637 Юра
      </td>
    </tr>
    <tr>
      <td style="width:80px; font-weight:bold; font-family:Verdana; font-size:12px;">vkontakte</td>
      <td style="padding-bottom:5px; font-family:Verdana; font-size:12px;">vk.com/cursor.education</td>
    </tr>
    <tr>
      <td style="width:80px; font-weight:bold; font-family:Verdana; font-size:12px;">facebook</td>
      <td style="padding-bottom:5px font-family:Verdana; font-size:12px;;">facebook.com/education.cursor</td>
    </tr>
  </table>
</body>
</html>