{% spaceless %}
  <div id="header">
    <div class="wrap">
      <div class="slogan clearfix animated flipInX">
        <h1>{{ workshop.title }}</h1>
      </div>
    </div>
  </div>

  <div id="header-arrow"></div>
{% endspaceless %}