{% spaceless %}
  <div id="form" class="section curve-after">
    <div class="wrap">

    <form class="light-form" method="post" action="{{ path('order-form') }}">
      <h3>Якщо вас зацікавив курс "<b>{{ course.title }}</b>", -<br/>залиште свої контактні дані у формі нижче, і ми вам перетелефонуємо.</h3>

      <input type="hidden" name="source" value="course-{{ course.id }}" />

      <div class="rows">
        <div class="row">
          <label for="name">Ім'я:</label>
          <input id="name" name="name" type="text" placeholder="Тарас Шевченко" validate required />
        </div>

        <div class="row">
          <label for="phone">Телефон:</label>
          <input id="phone" name="phone" type="text" placeholder="093 123 45 67" validate required pattern="^[\d\s\+\)\()\-]+$" />
        </div>

        <div class="row">
          <label for="name">Емейл:</label>
          <input id="email" name="email" type="email" placeholder="name@gmail.com" validate required />
        </div>

        <div class="row action">
          <input type="submit" value="Надіслати" />
          <i class="animate animate-course"></i>
        </div>
      </div>

      <div id="message-success" class="hidden">Дякуємо за реєстрацію на курс "{{ course.title }}"! Скоро з вами зв'яжеться наш менеджер.</div>
      <div id="message-failed" class="hidden">Щось пішло не так.. Спробуйте ще раз, або зателефонуйте нам.</div>
    </form>

    </div>
  </div>
{% endspaceless %}