/* deus1 */
@-webkit-keyframes deus1 {
  0% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -webkit-transform:translate(25px, 0) scale(1.1); opacity:0.8; }
  40% { -webkit-transform:translate(35px, -15px) scale(1); opacity:1; }
  60% { -webkit-transform:translate(25px, -10px) scale(0.9); opacity:0.6; }
  80% { -webkit-transform:translate(15px, -15px) scale(0.9); opacity:0.9; }
  100% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
}
@-moz-keyframes deus1 {
  0% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -moz-transform:translate(25px, 0) scale(1.1); opacity:0.8; }
  40% { -moz-transform:translate(35px, -15px) scale(1); opacity:1; }
  60% { -moz-transform:translate(25px, -10px) scale(0.9); opacity:0.6; }
  80% { -moz-transform:translate(15px, -15px) scale(0.9); opacity:0.9; }
  100% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
}
@-o-keyframes deus1 {
  0% { -o-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -o-transform:translate(25px, 0) scale(1.1); opacity:0.8; }
  40% { -o-transform:translate(35px, -15px) scale(1); opacity:1; }
  60% { -o-transform:translate(25px, -10px) scale(0.9); opacity:0.6; }
  80% { -o-transform:translate(15px, -15px) scale(0.9); opacity:0.9; }
  100% { -o-transform:translate(0, 0) scale(1); opacity:1; }
}
@keyframes deus1 {
  0% { transform:translate(0, 0) scale(1); opacity:1; }
  20% { transform:translate(25px, 0) scale(1.1); opacity:0.8; }
  40% { transform:translate(35px, -15px) scale(1); opacity:1; }
  60% { transform:translate(25px, -10px) scale(0.9); opacity:0.6; }
  80% { transform:translate(15px, -15px) scale(0.9); opacity:0.9; }
  100% { transform:translate(0, 0) scale(1); opacity:1; }
}
.bg-animated.deus1 { -webkit-animation-name:deus1; -moz-animation-name:deus1; -o-animation-name:deus1; animation-name:deus1; }
.bg-animated.deus1 { -webkit-animation-duration:15s; -moz-animation-duration:15s; -o-animation-duration:15s; animation-duration:15s; }
.bg-animated.deus1 { -webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -o-animation-iteration-count:infinite; animation-iteration-count:infinite; }

/* deus2 */
@-webkit-keyframes deus2 {
  0% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -webkit-transform:translate(20px, 10px) scale(1.1); opacity:1; }
  40% { -webkit-transform:translate(20px, 10px) scale(1.1); opacity:0.8; }
  60% { -webkit-transform:translate(15px, 10px) scale(0.9); opacity:0.7; }
  80% { -webkit-transform:translate(10px, 0) scale(1); opacity:0.9; }
  100% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
}
@-moz-keyframes deus2 {
  0% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -moz-transform:translate(20px, 10px) scale(1.1); opacity:1; }
  40% { -moz-transform:translate(20px, 10px) scale(1.1); opacity:0.8; }
  60% { -moz-transform:translate(15px, 10px) scale(0.9); opacity:0.7; }
  80% { -moz-transform:translate(10px, 0) scale(1); opacity:0.9; }
  100% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
}
@-o-keyframes deus2 {
  0% { -o-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -o-transform:translate(20px, 10px) scale(1.1); opacity:1; }
  40% { -o-transform:translate(20px, 10px) scale(1.1); opacity:0.8; }
  60% { -o-transform:translate(15px, 10px) scale(0.9); opacity:0.7; }
  80% { -o-transform:translate(10px, 0) scale(1); opacity:0.9; }
  100% { -o-transform:translate(0, 0) scale(1); opacity:1; }
}
@keyframes deus2 {
  0% { transform:translate(0, 0) scale(1); opacity:1; }
  20% { transform:translate(20px, 10px) scale(1.1); opacity:1; }
  40% { transform:translate(20px, 10px) scale(1.1); opacity:0.8; }
  60% { transform:translate(15px, 10px) scale(0.9); opacity:0.7; }
  80% { transform:translate(10px, 0) scale(1); opacity:0.9; }
  100% { transform:translate(0, 0) scale(1); opacity:1; }
}
.bg-animated.deus2 { -webkit-animation-name:deus2; -moz-animation-name:deus2; -o-animation-name:deus2; animation-name:deus2; }
.bg-animated.deus2 { -webkit-animation-duration:10s; -moz-animation-duration:10s; -o-animation-duration:10s; animation-duration:10s; }
.bg-animated.deus2 { -webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -o-animation-iteration-count:infinite; animation-iteration-count:infinite; }

/* deus3 */
@-webkit-keyframes deus3 {
  0% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -webkit-transform:translate(0, 0) scale(0.9); opacity:0.9; }
  40% { -webkit-transform:translate(-30px, 0) scale(0.8); opacity:0.8; }
  60% { -webkit-transform:translate(-30px, -5px) scale(0.8); opacity:0.7; }
  80% { -webkit-transform:translate(0, -5px) scale(1); opacity:0.9; }
  100% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
}
@-moz-keyframes deus3 {
  0% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -moz-transform:translate(0, 0) scale(0.9); opacity:0.9; }
  40% { -moz-transform:translate(-30px, 0) scale(0.8); opacity:0.8; }
  60% { -moz-transform:translate(-30px, -5px) scale(0.8); opacity:0.7; }
  80% { -moz-transform:translate(0, -5px) scale(1); opacity:0.9; }
  100% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
}
@-o-keyframes deus3 {
  0% { -o-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -o-transform:translate(0, 0) scale(0.9); opacity:0.9; }
  40% { -o-transform:translate(-30px, 0) scale(0.8); opacity:0.8; }
  60% { -o-transform:translate(-30px, -5px) scale(0.8); opacity:0.7; }
  80% { -o-transform:translate(0, -5px) scale(1); opacity:0.9; }
  100% { -o-transform:translate(0, 0) scale(1); opacity:1; }
}
@keyframes deus3 {
  0% { transform:translate(0, 0) scale(1); opacity:1; }
  20% { transform:translate(0, 0) scale(0.9); opacity:0.9; }
  40% { transform:translate(-30px, 0) scale(0.8); opacity:0.8; }
  60% { transform:translate(-30px, -5px) scale(0.8); opacity:0.7; }
  80% { transform:translate(0, -5px) scale(1); opacity:0.9; }
  100% { transform:translate(0, 0) scale(1); opacity:1; }
}
.bg-animated.deus3 { -webkit-animation-name:deus3; -moz-animation-name:deus3; -o-animation-name:deus3; animation-name:deus3; }
.bg-animated.deus3 { -webkit-animation-duration:20s; -moz-animation-duration:20s; -o-animation-duration:20s; animation-duration:20s; }
.bg-animated.deus3 { -webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -o-animation-iteration-count:infinite; animation-iteration-count:infinite; }

/* deus4 */
@-webkit-keyframes deus4 {
  0% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -webkit-transform:translate(0, 0) scale(1.1); opacity:0.8; }
  40% { -webkit-transform:translate(25px, 0) scale(1.1); opacity:0.7; }
  60% { -webkit-transform:translate(25px, 10px) scale(1.1); opacity:0.7; }
  80% { -webkit-transform:translate(0, 10px) scale(1); opacity:0.8; }
  100% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
}
@-moz-keyframes deus4 {
  0% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -moz-transform:translate(0, 0) scale(1.1); opacity:0.8; }
  40% { -moz-transform:translate(25px, 0) scale(1.1); opacity:0.7; }
  60% { -moz-transform:translate(25px, 10px) scale(1.1); opacity:0.7; }
  80% { -moz-transform:translate(0, 10px) scale(1); opacity:0.8; }
  100% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
}
@-o-keyframes deus4 {
  0% { -o-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -o-transform:translate(0, 0) scale(1.1); opacity:0.8; }
  40% { -o-transform:translate(25px, 0) scale(1.1); opacity:0.7; }
  60% { -o-transform:translate(25px, 10px) scale(1.1); opacity:0.7; }
  80% { -o-transform:translate(0, 10px) scale(1); opacity:0.8; }
  100% { -o-transform:translate(0, 0) scale(1); opacity:1; }
}
@keyframes deus4 {
  0% { transform:translate(0, 0) scale(1); opacity:1; }
  20% { transform:translate(0, 0) scale(1.1); opacity:0.8; }
  40% { transform:translate(25px, 0) scale(1.1); opacity:0.7; }
  60% { transform:translate(25px, 10px) scale(1.1); opacity:0.7; }
  80% { transform:translate(0, 10px) scale(1); opacity:0.8; }
  100% { transform:translate(0, 0) scale(1); opacity:1; }
}
.bg-animated.deus4 { -webkit-animation-name:deus4; -moz-animation-name:deus4; -o-animation-name:deus4; animation-name:deus4; }
.bg-animated.deus4 { -webkit-animation-duration:15s; -moz-animation-duration:15s; -o-animation-duration:15s; animation-duration:15s; }
.bg-animated.deus4 { -webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -o-animation-iteration-count:infinite; animation-iteration-count:infinite; }

/* deus5 */
@-webkit-keyframes deus5 {
  0% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -webkit-transform:translate(0, -20px) scale(1); opacity:0.8; }
  40% { -webkit-transform:translate(20px, -20px) scale(1); opacity:0.7; }
  60% { -webkit-transform:translate(0, -20px) scale(0.9); opacity:0.7; }
  80% { -webkit-transform:translate(0, -10px) scale(0.9); opacity:0.8; }
  100% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
}
@-moz-keyframes deus5 {
  0% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -moz-transform:translate(0, -20px) scale(1); opacity:0.8; }
  40% { -moz-transform:translate(20px, -20px) scale(1); opacity:0.7; }
  60% { -moz-transform:translate(0, -20px) scale(0.9); opacity:0.7; }
  80% { -moz-transform:translate(0, -10px) scale(0.9); opacity:0.8; }
  100% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
}
@-o-keyframes deus5 {
  0% { -o-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -o-transform:translate(0, -20px) scale(1); opacity:0.8; }
  40% { -o-transform:translate(20px, -20px) scale(1); opacity:0.7; }
  60% { -o-transform:translate(0, -20px) scale(0.9); opacity:0.7; }
  80% { -o-transform:translate(0, -10px) scale(0.9); opacity:0.8; }
  100% { -o-transform:translate(0, 0) scale(1); opacity:1; }
}
@keyframes deus5 {
  0% { transform:translate(0, 0) scale(1); opacity:1; }
  20% { transform:translate(0, -20px) scale(1); opacity:0.8; }
  40% { transform:translate(20px, -20px) scale(1); opacity:0.7; }
  60% { transform:translate(0, -20px) scale(0.9); opacity:0.7; }
  80% { transform:translate(0, -10px) scale(0.9); opacity:0.8; }
  100% { transform:translate(0, 0) scale(1); opacity:1; }
}
.bg-animated.deus5 { -webkit-animation-name:deus5; -moz-animation-name:deus5; -o-animation-name:deus5; animation-name:deus5; }
.bg-animated.deus5 { -webkit-animation-duration:10s; -moz-animation-duration:10s; -o-animation-duration:10s; animation-duration:10s; }
.bg-animated.deus5 { -webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -o-animation-iteration-count:infinite; animation-iteration-count:infinite; }

/* deus6 */
@-webkit-keyframes deus6 {
  0% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -webkit-transform:translate(0, 30px) scale(1.1); opacity:1; }
  40% { -webkit-transform:translate(0, 20px) scale(1.1); opacity:0.8; }
  60% { -webkit-transform:translate(10px, 20px) scale(1.1); opacity:0.7; }
  80% { -webkit-transform:translate(20px, 0) scale(1); opacity:0.8; }
  100% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
}
@-moz-keyframes deus6 {
  0% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -moz-transform:translate(0, 30px) scale(1.1); opacity:1; }
  40% { -moz-transform:translate(0, 20px) scale(1.1); opacity:0.8; }
  60% { -moz-transform:translate(10px, 20px) scale(1.1); opacity:0.7; }
  80% { -moz-transform:translate(20px, 0) scale(1); opacity:0.8; }
  100% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
}
@-o-keyframes deus6 {
  0% { -o-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -o-transform:translate(0, 30px) scale(1.1); opacity:1; }
  40% { -o-transform:translate(0, 20px) scale(1.1); opacity:0.8; }
  60% { -o-transform:translate(10px, 20px) scale(1.1); opacity:0.7; }
  80% { -o-transform:translate(20px, 0) scale(1); opacity:0.8; }
  100% { -o-transform:translate(0, 0) scale(1); opacity:1; }
}
@keyframes deus6 {
  0% { transform:translate(0, 0) scale(1); opacity:1; }
  20% { transform:translate(0, 30px) scale(1.1); opacity:1; }
  40% { transform:translate(0, 20px) scale(1.1); opacity:0.8; }
  60% { transform:translate(10px, 20px) scale(1.1); opacity:0.7; }
  80% { transform:translate(20px, 0) scale(1); opacity:0.8; }
  100% { transform:translate(0, 0) scale(1); opacity:1; }
}
.bg-animated.deus6 { -webkit-animation-name:deus6; -moz-animation-name:deus6; -o-animation-name:deus6; animation-name:deus6; }
.bg-animated.deus6 { -webkit-animation-duration:15s; -moz-animation-duration:15s; -o-animation-duration:15s; animation-duration:15s; }
.bg-animated.deus6 { -webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -o-animation-iteration-count:infinite; animation-iteration-count:infinite; }

/* deus7 */
@-webkit-keyframes deus7 {
  0% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -webkit-transform:translate(-15px, 0) scale(1.1); opacity:1; }
  40% { -webkit-transform:translate(-15px, -10px) scale(1.1); opacity:0.8; }
  60% { -webkit-transform:translate(-5px, -10px) scale(1.1); opacity:0.8; }
  80% { -webkit-transform:translate(0, -10px) scale(1); opacity:0.9; }
  100% { -webkit-transform:translate(0, 0) scale(1); opacity:1; }
}
@-moz-keyframes deus7 {
  0% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -moz-transform:translate(-15px, 0) scale(1.1); opacity:1; }
  40% { -moz-transform:translate(-15px, -10px) scale(1.1); opacity:0.8; }
  60% { -moz-transform:translate(-5px, -10px) scale(1.1); opacity:0.8; }
  80% { -moz-transform:translate(0, -10px) scale(1); opacity:0.9; }
  100% { -moz-transform:translate(0, 0) scale(1); opacity:1; }
}
@-o-keyframes deus7 {
  0% { -o-transform:translate(0, 0) scale(1); opacity:1; }
  20% { -o-transform:translate(-15px, 0) scale(1.1); opacity:1; }
  40% { -o-transform:translate(-15px, -10px) scale(1.1); opacity:0.8; }
  60% { -o-transform:translate(-5px, -10px) scale(1.1); opacity:0.8; }
  80% { -o-transform:translate(0, -10px) scale(1); opacity:0.9; }
  100% { -o-transform:translate(0, 0) scale(1); opacity:1; }
}
@keyframes deus7 {
  0% { transform:translate(0, 0) scale(1); opacity:1; }
  20% { transform:translate(-15px, 0) scale(1.1); opacity:1; }
  40% { transform:translate(-15px, -10px) scale(1.1); opacity:0.8; }
  60% { transform:translate(-5px, -10px) scale(1.1); opacity:0.8; }
  80% { transform:translate(0, -10px) scale(1); opacity:0.9; }
  100% { transform:translate(0, 0) scale(1); opacity:1; }
}
.bg-animated.deus7 { -webkit-animation-name:deus7; -moz-animation-name:deus7; -o-animation-name:deus7; animation-name:deus7; }
.bg-animated.deus7 { -webkit-animation-duration:20s; -moz-animation-duration:20s; -o-animation-duration:20s; animation-duration:20s; }
.bg-animated.deus7 { -webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -o-animation-iteration-count:infinite; animation-iteration-count:infinite; }
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden {
  display: none !important;
}
body.page {
  background: #ffffff;
}
body.page .section {
  position: relative;
  min-height: 150px;
  margin: 0 auto;
  padding-bottom: 20px;
}
body.page .section .wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 10px;
  color: #dde4f4;
  font: 18px 'Open Sans';
  letter-spacing: 1px;
  line-height: normal;
}
body.page .section i.go-to-top {
  display: block;
  position: absolute;
  width: 85px;
  height: 85px;
  padding-bottom: 5px;
  background: url(http://www.kbconceptspr.com/newtheme/wp-content/uploads/2014/09/up_arrow.png) no-repeat;
  right: 60px;
  bottom: 50px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  transform: perspective(500px) translateZ(0px);
}
body.page .section i.go-to-top:hover {
  transform: perspective(500px) translateZ(70px);
}
body#page-landing {
  overflow-x: hidden;
}
body#page-landing .section.curve-after:after {
  content: " ";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 50px;
  bottom: -25px;
  z-index: 1;
}
body#page-landing .section .wrap h2 {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}
body#page-landing #header-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  text-align: center;
  min-height: inherit;
  height: 50px;
  padding: 0;
  transition: all 0.15s ease-in-out;
}
body#page-landing #header-menu.open {
  z-index: 9999;
  height: auto;
  background: rgba(36, 46, 61, 0.75);
  box-shadow: rgba(0, 0, 0, 0.29) 0px 0px 3px 1px;
}
body#page-landing #header-menu.open:hover {
  background: rgba(36, 46, 61, 0.9);
}
body#page-landing #header-menu.open .wrap {
  margin-bottom: 0px;
  height: 50px;
}
body#page-landing #header-menu.open #logo {
  text-align: left;
  text-decoration: none;
}
body#page-landing #header-menu.open #logo i.icon-big {
  margin-top: -100px;
}
body#page-landing #header-menu.open #logo i.icon-small {
  margin-top: -6px;
}
body#page-landing #header-menu.open #logo span {
  margin-top: 5px;
  margin-left: 40px;
  opacity: 1;
}
body#page-landing #header-menu.open #menu li a.selected,
body#page-landing #header-menu.open #menu li a:hover {
  background: rgba(218, 228, 245, 0.2);
  border-bottom-color: transparent;
}
body#page-landing #header-menu .wrap {
  display: inline-block;
  width: 90%;
  max-width: 1100px;
  margin-top: 15px;
  transition: all 0.15s ease-in-out;
}
body#page-landing #header-menu #logo {
  float: left;
  display: block;
}
body#page-landing #header-menu #logo i.icon-big,
body#page-landing #header-menu #logo i.icon-small {
  display: inline-block;
  transition: all 0.32s ease-in-out;
}
body#page-landing #header-menu #logo i.icon-big {
  position: absolute;
  margin-top: 0px;
  background: url(/img/logo-big.png) no-repeat;
  width: 61px;
  height: 85px;
}
body#page-landing #header-menu #logo i.icon-small {
  position: absolute;
  margin-top: -200px;
  background: url(/img/logo-small.png) no-repeat;
  width: 30px;
  height: 42px;
}
body#page-landing #header-menu #logo span {
  transition: all 0.4s ease;
  position: absolute;
  margin-top: 5px;
  margin-left: 0px;
  font: 20px 'Exo 2';
  color: #F3F5FD;
  opacity: 0;
}
body#page-landing #header-menu ul#menu {
  float: right;
  text-align: right;
  white-space: nowrap;
  list-style: none;
  list-style-image: none;
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  transition: all 0.15s ease-in-out;
}
body#page-landing #header-menu ul#menu li {
  display: inline-block;
  float: left;
}
body#page-landing #header-menu ul#menu li a {
  display: block;
  margin-right: 5px;
  padding: 10px;
  color: #f0f0f0;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.25s ease-in-out;
}
body#page-landing #header-menu ul#menu li a:hover {
  border-bottom-color: rgba(255, 255, 255, 0.29);
}
body#page-landing #header {
  background: url(/img/header-bg-2.png) no-repeat;
  background-size: 104%;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  overflow: hidden;
  border: none;
  max-width: none;
  padding: 0px;
  z-index: 2;
}
body#page-landing #header:before {
  left: -30px;
  height: 60px;
  width: 50%;
}
body#page-landing #header:after {
  right: -30px;
  height: 60px;
  width: 50%;
}
body#page-landing #header:before,
body#page-landing #header:after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #facf3b;
}
body#page-landing #header .wrap {
  margin: 0 auto;
  padding: 85px 50px 120px 50px;
  background-color: rgba(255, 255, 255, 0.4);
  max-width: none;
}
body#page-landing #header .slogan {
  position: relative;
  z-index: 3;
  text-align: center;
  letter-spacing: 2px;
  line-height: normal;
  text-transform: uppercase;
  color: #4e545e;
  margin-top: 1px;
}
body#page-landing #header .slogan span {
  display: inline-block;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.32);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  text-align: left;
}
body#page-landing #header .slogan span br {
  content: "";
  display: block;
  margin-bottom: 5px;
}
body#page-landing #header-arrow {
  position: relative;
  z-index: 2;
}
body#page-landing #header-arrow:after {
  content: "";
  position: absolute;
  top: -60px;
  left: 50%;
  height: 0;
  width: 0;
  margin-left: -30px;
  border: solid transparent;
  border-width: 30px;
  border-color: #facf3b;
  border-top-color: transparent;
}
body#page-landing #go-deeper {
  background: #facf3b;
  margin-top: -5px;
  z-index: 3;
}
body#page-landing #go-deeper .icon.icon-large-notebook {
  display: inline-block;
  float: left;
  background: url(http://www.e-legion.ru/assets/landing_pages/ios_school/macbook-03f5d0556c04f2f483d561af02029e2e.png);
  background-size: 400px;
  background-repeat: no-repeat;
  height: 496px;
  width: 400px;
  z-index: 3;
  margin-right: 20px;
}
body#page-landing #go-deeper .wrap {
  color: #132b56;
  line-height: 1.4em;
}
body#page-landing #go-deeper:after {
  background: #facf3b;
  transform: skew(0deg, -1.5deg);
  -webkit-transform: skew(0deg, -1.5deg);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -1px;
}
body#page-landing #courses {
  background: #f0f3f7;
  padding-top: 70px;
  padding-bottom: 50px;
  position: relative;
  z-index: 2;
}
body#page-landing #courses .wrap {
  color: #1a3562;
}
body#page-landing #courses .wrap h2 {
  color: #485362;
}
body#page-landing #courses .bg-animated {
  background: red;
  position: absolute;
  z-index: 5;
}
body#page-landing #courses .bg-animated.deus1 {
  background: url(http://mokselle-dev.ru/kojaitaly/a/i/deus1.png) 0 0 no-repeat;
  height: 569px;
  width: 612px;
  left: 60%;
  top: 0%;
}
body#page-landing #courses .bg-animated.deus2 {
  background: url(http://mokselle-dev.ru/kojaitaly/a/i/deus2.png) 0 0 no-repeat;
  height: 569px;
  width: 612px;
  left: 20%;
  top: -5%;
}
body#page-landing #courses .bg-animated.deus3,
body#page-landing #courses .bg-animated.deus4,
body#page-landing #courses .bg-animated.deus6 {
  background: url(http://mokselle-dev.ru/kojaitaly/a/i/deus3-4-6.png) 0 0 no-repeat;
  height: 569px;
  width: 612px;
}
body#page-landing #courses .bg-animated.deus3 {
  left: 0%;
  top: 20%;
}
body#page-landing #courses .bg-animated.deus4 {
  left: 10%;
  top: 50%;
}
body#page-landing #courses .bg-animated.deus6 {
  left: 55%;
  top: 40%;
}
body#page-landing #courses .bg-animated.deus5 {
  background: url(http://mokselle-dev.ru/kojaitaly/a/i/deus5.png) 0 0 no-repeat;
  height: 569px;
  width: 612px;
  left: 20%;
  top: 70%;
}
body#page-landing #courses:after {
  background: #f0f3f7;
  transform: skew(0deg, 1.5deg);
  -webkit-transform: skew(0deg, 1.5deg);
  box-shadow: #f0f3f7 0px 3px 2px -2px;
}
body#page-landing #courses .row {
  text-align: center;
  margin-bottom: 30px;
}
body#page-landing #courses .row .t {
  position: relative;
  z-index: 5;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 30px;
  width: 30%;
  background: #fafbfc;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  transition: all .4s ease;
}
body#page-landing #courses .row .t:hover {
  background: #ffffff;
}
body#page-landing #courses .row .t:hover img.image {
  transform: perspective(500px) translateZ(30px);
}
body#page-landing #courses .row .t:hover .title:before {
  background-size: 110%;
}
body#page-landing #courses .row .t.course-ruby .title:before {
  background-image: url(//d1tijy5l7mg5kk.cloudfront.net/assets/paths/bg-ruby-be027051b381dc1cf89b13c9e65941c3.svg);
}
body#page-landing #courses .row .t.course-ruby .title:after {
  background-color: #B24626;
}
body#page-landing #courses .row .t.course-js .title:before {
  background-image: url(https://d1tijy5l7mg5kk.cloudfront.net/assets/paths/bg-javascript-fe8cec88499673b890c2efe3bec497d7.svg);
}
body#page-landing #courses .row .t.course-js .title:after {
  background-color: #D7A627;
}
body#page-landing #courses .row .t.course-htmlcss .title:before {
  background-image: url(https://d1tijy5l7mg5kk.cloudfront.net/assets/paths/badge-html-css-2bcd13b6f0e8092b6e4136a448ea3244.svg);
}
body#page-landing #courses .row .t.course-htmlcss .title:after {
  background-color: #31A480;
}
body#page-landing #courses .row .t.course-php .title:before {
  background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1280px-PHP-logo.svg.png);
}
body#page-landing #courses .row .t.course-php .title:after {
  background-color: #617FB3;
}
body#page-landing #courses .row .t.course-qa .title:before {
  background-image: url(http://www.qualityliferesources.com/wp-content/uploads/2013/02/quality-assurance.jpg);
}
body#page-landing #courses .row .t.course-qa .title:after {
  background-color: #DF0000;
}
body#page-landing #courses .row .t .title {
  position: relative;
}
body#page-landing #courses .row .t .title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  z-index: 2;
}
body#page-landing #courses .row .t .title:after {
  content: '';
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
body#page-landing #courses .row .t .name {
  position: relative;
  padding: 20px 20px;
  margin-bottom: 5px;
  font-weight: 400;
  z-index: 3;
  color: white;
}
body#page-landing #courses .row .t .time {
  font-size: 15px;
  margin-bottom: 20px;
}
body#page-landing #courses .row .t img.image {
  display: block;
  max-width: 180px;
  max-height: 180px;
  margin: 0 auto;
  transform: perspective(500px) translateZ(0px);
  transition: all .15s ease;
}
body#page-landing #courses .row .t .desc {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  text-align: center;
  word-break: break-word;
}
body#page-landing #courses .row .t .more {
  display: inline-block;
  color: #ffffff;
  background: #97a4b6;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
body#page-landing #courses .row .t .more span {
  display: inline-block;
  margin-left: 5px;
}
body#page-landing #courses .row .t .more:hover {
  background: #ced7e4;
  color: #516683;
  border-color: #ffffff;
}
body#page-landing #courses .row .t.course1 span {
  font-size: 20px;
}
body#page-landing #teachers {
  background: #ccd5f0;
  padding-top: 70px;
  padding-bottom: 50px;
}
body#page-landing #teachers .wrap {
  color: rgba(240, 243, 247, 0.75);
}
body#page-landing #teachers .wrap h2 {
  color: #485362;
}
body#page-landing #teachers .row {
  text-align: center;
  margin-bottom: 30px;
}
body#page-landing #teachers .row .t {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 25px;
  transition: all .4s ease;
}
body#page-landing #teachers .row .t:hover {
  background: #f3f5fc;
}
body#page-landing #teachers .row .t:hover img.photo {
  transform: perspective(500px) translateZ(50px);
}
body#page-landing #teachers .row .t .name {
  font-weight: bold;
}
body#page-landing #teachers .row .t .status {
  font-size: 15px;
  margin-top: 5px;
}
body#page-landing #teachers .row .t img.photo {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 50%;
  transform: perspective(500px) translateZ(0px);
  transition: all .15s ease;
}
body#page-landing #teachers .row .t .desc {
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  word-break: break-word;
}
body#page-landing #teachers .row .t .social {
  margin-top: 10px;
}
body#page-landing #teachers .row .t .social a {
  display: inline-block;
}
body#page-landing #teachers .row .t .social i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px;
}
body#page-landing #teachers .row .t .social i.linkedin {
  background-image: url(https://cdn4.iconfinder.com/data/icons/windev-contacts-2/512/linkedin-16.png);
}
body#page-landing #teachers .row .t .social i.facebook {
  background-image: url(https://cdn4.iconfinder.com/data/icons/windev-contacts-2/512/facebook-16.png);
}
body#page-landing #teachers .row .t .social i.vkontakte {
  background-image: url(https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/vkontakte-16.png);
}
body#page-landing #teachers .row .t .social i.github {
  background-image: url(https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-16.png);
}
body#page-landing #teachers:after {
  background: #ccd5f0;
  transform: skew(0deg, -1.5deg);
  -webkit-transform: skew(0deg, -1.5deg);
}
body#page-landing #registration-form {
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
  background: #2d343e;
}
body#page-landing #registration-form:after {
  background: #2d343e;
  transform: skew(0deg, 1.5deg);
  -webkit-transform: skew(0deg, 1.5deg);
  box-shadow: #2d343e 0px 3px 3px -2px;
}
body#page-landing #registration-form form {
  margin: 50px 0px 10px 0px;
  font-size: 19px;
  text-align: center;
}
body#page-landing #registration-form form .row {
  display: inline-block;
  margin-right: 15px;
}
body#page-landing #registration-form form input[type="text"] {
  padding: 15px 12px;
  font-family: Verdana;
  font-size: 16px;
  border-radius: 2px;
  color: #646B7E;
  background-color: #EDF0F6;
  border: 1px #EEF1F8 solid;
  box-shadow: 1px 2px 2px 0 rgba(180, 180, 180, 0.5);
}
body#page-landing #registration-form form input[type="submit"] {
  padding: 10px 20px;
  margin: 0;
  margin-left: 10px;
  font: 13px 'Open Sans';
  font-weight: bold;
  cursor: pointer;
  background: #FFC400;
  color: #2D343E;
  border: 2px solid #FFC400;
  border-radius: 4px;
  transition: all 0.3s ease;
}
body#page-landing #registration-form form input[type="submit"]:hover {
  background: #D3A200;
  border-color: #D3A200;
}
body#page-landing #registration-form form input[type="submit"]:active {
  background: white;
  border-color: #2D343E;
  color: #2D343E;
}
body#page-landing #partners {
  background: #ffd752;
  padding-top: 70px;
}
body#page-landing #partners .wrap h2 {
  color: #485362;
}
body#page-landing #partners:after {
  background: #ffd752;
  transform: skew(0deg, -1.5deg);
  -webkit-transform: skew(0deg, -1.5deg);
  box-shadow: #ffd752 0px 3px 2px -2px;
}
body#page-landing #partners div.list {
  margin-bottom: 50px;
  text-align: center;
}
body#page-landing #partners div.list:hover .t {
  opacity: 0.4;
}
body#page-landing #partners div.list .t {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  transition: all 0.15s ease-in-out;
}
body#page-landing #partners div.list .t:hover {
  opacity: 1;
}
body#page-landing #partners div.list .t a {
  display: inline-block;
}
body#page-landing #partners div.list .t img {
  max-width: 250px;
  background: #FFF;
  padding: 10px;
  border-radius: 4px;
}
body#page-landing #contacts {
  background: #303842;
  padding-top: 80px;
  padding-bottom: 30px;
}
body#page-landing #contacts .wrap {
  color: #dde4f4;
  font-size: 15px;
}
body#page-landing #contacts .wrap .column {
  display: inline-block;
  vertical-align: top;
}
body#page-landing #contacts .wrap .column.column-padding {
  margin-left: 50px;
}
body#page-landing #contacts .wrap .t {
  position: relative;
  margin-bottom: 7px;
  text-align: left;
}
body#page-landing #contacts .wrap .t a {
  color: #dde4f4;
  text-decoration: none;
}
body#page-landing #contacts .wrap .t a i.icon {
  position: absolute;
  left: 0;
  top: 3px;
}
body#page-landing #contacts .wrap .t a i.desc {
  margin-left: 2px;
  font-style: normal;
  font-size: 13px;
  color: #A5AEC3;
}
body#page-landing #contacts .wrap .t a span {
  padding-bottom: 1px;
  margin-left: 22px;
  border-bottom: 1px #4E5B6F solid;
  transition: border-bottom-color 0.15s ease-in-out;
}
body#page-landing #contacts .wrap .t a:hover span {
  border-bottom-color: #dde4f4;
}
body#page-landing #contacts .wrap .t a:active,
body#page-landing #contacts .wrap .t a:active i.desc {
  color: white;
}
body#page-landing #contacts .wrap i.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
}
body#page-landing #contacts .wrap i.icon.skype {
  background-image: url(https://cdn1.iconfinder.com/data/icons/smallicons-logotypes/32/skype-16.png);
}
body#page-landing #contacts .wrap i.icon.linkedin {
  background-image: url(https://cdn1.iconfinder.com/data/icons/smallicons-logotypes/32/linkedin-16.png);
}
body#page-landing #contacts .wrap i.icon.email {
  background-image: url(https://cdn0.iconfinder.com/data/icons/basic-ui-elements-colored/700/08_mail-16.png);
}
body#page-landing #contacts .wrap i.icon.viber {
  background-image: url(https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/viber-16.png);
}
body#page-landing #contacts .wrap i.icon.phone {
  background-image: url(https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/whatsapp-16.png);
}
body#page-landing #contacts .wrap i.icon.vkontakte {
  background-image: url(https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/vkontakte-16.png);
}
body#page-landing #contacts .wrap i.icon.facebook {
  background-image: url(https://cdn4.iconfinder.com/data/icons/windev-contacts-2/512/facebook-16.png);
}
body#page-auth {
  overflow-x: hidden;
}
body#page-auth .auth-block {
  background-color: #FFF;
  width: 680px;
  margin: 0px auto;
  margin-top: 15%;
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #C3CDD1;
}
body#page-auth .auth-block h1.title {
  font: 18px tahoma;
  text-align: center;
  background: rgba(233, 238, 242, 0.26);
  padding: 13px;
  user-select: none;
  -webkit-user-select: none;
}
body#page-auth .auth-block .wrap {
  width: 100%;
  padding: 50px 0px 50px 0px;
}
body#page-auth .auth-block .left {
  float: left;
  display: inline-block;
  width: 240px;
  padding: 0px 0px 0px 50px;
  user-select: none;
  -webkit-user-select: none;
}
body#page-auth .auth-block .left .wrap2 {
  margin-left: 30px;
}
body#page-auth .auth-block .left .wrap2 h2 {
  font: 13px verdana;
  margin-bottom: 5px;
}
body#page-auth .auth-block .left .wrap2 i {
  display: block;
  width: 100px;
  height: 100px;
  background: red;
  margin-top: 15px;
}
body#page-auth .auth-block .right {
  display: inline-block;
  width: 240px;
  padding: 0px 0px 0px 50px;
  border-left: 1px solid #E1E1E1;
}
body#page-auth .auth-block .right .auth-block-form input {
  padding: 12px 10px;
  font-family: Verdana;
  font-size: 14px;
  border-radius: 2px;
  color: #646B7E;
  background-color: #EDF0F6;
  border: 1px #EEF1F8 solid;
  box-shadow: 1px 2px 2px 0 rgba(180, 180, 180, 0.5);
}
body#page-auth .auth-block .right .auth-block-form .row {
  margin-bottom: 15px;
  font: 13px verdana;
}
body#page-auth .auth-block .right .auth-block-form .row label {
  display: block;
  margin-bottom: 5px;
}
body#page-auth .auth-block .right .auth-block-form .row input[type="text"],
body#page-auth .auth-block .right .auth-block-form .row input[type="password"] {
  width: 200px;
}
body#page-auth .auth-block .right .auth-block-form .row.form-submit {
  margin-top: 25px;
  margin-bottom: 0px;
}
body#page-auth .auth-block .right .auth-block-form .row.form-submit input {
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  font: 14px 'Comfortaa', Verdana;
  background: #28403C;
  color: white;
  border: 2px solid #28403C;
  border-radius: 4px;
  transition: all 0.3s ease;
}
body#page-auth .auth-block .right .auth-block-form .row.form-submit input:hover {
  background: #66857F;
  border-color: #66857F;
}
body#page-auth .auth-block .right .auth-block-form .row.form-submit input:active {
  background: white;
  border-color: #28403C;
  color: black;
}
#footer {
  width: 100%;
  background-color: #292f38;
  padding: 20px 0px;
  height: 20px;
  min-height: 0px !important;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
}
#footer .wrap {
  font-size: 13px !important;
  color: #6c7381 !important;
}
