@import 'const.less';
@header-below-bg: black;

@import 'base.less';
@import 'base-layout.less';
@import 'page-course-courses.less';

@import 'teachers.less';

@import './sprites/sprites-icons.less';

body#page-course {
    #course-description { z-index: @zindex-section + @zindex-animated + 4 }
    #course-program { z-index: @zindex-section + @zindex-animated + 3 }
    #form { z-index: @zindex-section + @zindex-animated + 2 }
    #course-footer { z-index: @zindex-section + @zindex-animated + 1 }

    #course-description {
        color: blue;

        @media screen and (max-width: 650px) {
            margin-top: -15px;
        }

        .top-line {
            margin-bottom: 15px;

            .item {
                display: inline-block;
                background: rgba(0, 0, 0, 0.1);

                height: 25px;
                vertical-align: top;

                padding: 8px 10px;
                margin-right: 5px;

                transition: all .4s ease;

                @media screen and (max-width: 650px) {
                    margin-bottom: 5px;
                }

                &:hover {
                    cursor: default;
                    background: rgba(0, 0, 0, 0.25);
                }

                &.teachers {
                    span {
                        float: left;
                        margin-top: 2px;
                    }

                    i.icon {
                        margin-left: 5px;
                    }
                }
            }
        }

        &.curve-after:after {
            transform: skew(0deg, -1.5deg);
            -webkit-transform: skew(0deg, -1.5deg);

            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -1px;
        }
    }

    #course-program {
        background: @section-COURSE-PROGRAM-bg;
        padding-top: 70px;
        padding-bottom: 30px;

        .wrap h2 {
            color: @section-COURSE-PROGRAM-h2;
        }

        &.curve-after:after {
            background: @section-COURSE-PROGRAM-bg;

            transform: skew(0deg, 1.5deg);
            -webkit-transform: skew(0deg, 1.5deg);

            box-shadow: @section-COURSE-PROGRAM-bg 0px 3px 2px -2px;
        }

        .row {
            text-align: center;

            .item {
                text-align: left;

                margin-bottom: 10px;
                margin-right: 10px;

                padding: 10px;

                display: inline-block;
                background: rgba(255, 255, 255, 0.2);
                vertical-align: top;

                max-width: 400px;

                // .num-title {
                //     // background: red;

                //     .num,
                //     .title {
                //         display: inline-block;
                //     }
                // }

                .title {
                    display: inline-block;
                    color: #434B56;
                    font-weight: bold;

                    span {
                        display: block;
                    }
        
                    .num {
                        float: left;

                        background: #434B56;
                        color: #DEE9F7;
                        
                        padding: 10px;
                        border-radius: 30px;
                        
                        height: 18px;
                        min-width: 15px;
                        
                        text-align: center;
                        vertical-align: middle;
                        
                        font: 15px verdana;
                        font-weight: bold;
                        
                        margin-right: 10px;
                    }
                }


                .childs {
                    color: #434B56;

                    margin-top: 10px;
                    margin-left: 45px;

                    span {
                        display: block;
                        font-size: 15px;
                    }
                }

                // .desc {
                //     width: 90%;
                //     color: #434B56;

                //     .title {
                //         font-weight: bold;
                //     }

                //     .childs {
                //         margin-top: 5px;

                //         span {
                //             display: block;
                //             font-size: 15px;
                //         }
                //     }
                // }
            }
        }
    }

    #form {
        @s: #D2DBE7;

        padding-top: 50px;
        color: red;
        background: @s;

        .wrap {
            color: #1A3562;
        }

        form.light-form {
            margin-bottom: 20px;
        }

        &.curve-after:after {
            background: @s;

            transform: skew(0deg, 1.5deg);
            -webkit-transform: skew(0deg, 1.5deg);

            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -1px;
        }
    }

    #course-footer {
        // padding-top: 70px;
        min-height: 50px !important;

        padding-top: 70px;
        padding-bottom: 30px;

        background-color: #303842;

        .list {
            text-align: center;

            .item,
            .plus {
                display: inline-block;
                vertical-align: top;
            }

            .item {
                background: #38414C;
                width: 150px;
                padding: 10px;
            }

            .plus {
                font-size: 40px;
                margin: 0px 10px;
                margin-top: 80px;
            }

            i {
                display: block;
                width: 128px;
                height: 128px;
                margin: 0 auto;
                margin-bottom: 10px;

                background-position: center;
                background-repeat: no-repeat;

                &.books {
                    background-image: url(https://cdn3.iconfinder.com/data/icons/beos/Library.png);
                }

                &.certificate {
                    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698653-icon-137-document-certificate-128.png);
                }

                &.support {
                    background-image: url(https://cdn3.iconfinder.com/data/icons/10con/512/chat_conversation-128.png);
                }

                &.help {
                    background-image: url(https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Money-Increase-128.png);
                }
            }
        }
    }
}