#page-landing #directions .rows .t {
    &.workshop-angular-js-becoma-a-ninja {
        .title {
            &:before {
                background-image: url(http://iantonov.me/uploads/imagesforpost/mini/angular-ninja-280-210.jpg);
                opacity: 0.4;
            }
            &:after {
                background-color: #962E0F;
            }
        }
    }
}