@import 'const.less';

@import 'base.less';
@import 'base-layout.less';

@import 'teachers.less';

body#page-teacher {
  background: #647488;

  #page-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  #teacher-information {
    z-index: @zindex-section - @zindex-header - 1;
    padding-top: 100px;
    text-align: center;

    @media screen and (max-width: 650px) {
      padding-top: 130px;
    }

    .wrap {
      width: 100%;
      padding: 0;
    }

    #general-info,
    #full-desc,
    #short-desc {
      margin: 0 auto;

      @media screen and (max-width: 650px) {
        display: block;
        width: 100%;
      }
    }

    #general-info {
      min-width: 200px;
      max-width: 400px;
    }

    #photo {
      margin-right: 10px;
      border-radius: 50%;
      
      max-width: 250px;

      margin-top: 20px;
    }

    #name,
    #position {
      color: rgba(255, 255, 255, 0.8);
    }

    #name {
      font-size: 35px;
    }

    #position {
      font-size: 20px;
    }

    #short-desc,
    #full-desc {
      font-size: 15px;
    }

    #short-desc {
      color: rgba(255, 255, 255, 0.8);
      margin-top: 10px;
    }

    #full-desc {
      background: rgba(0, 0, 0, 0.3);

      padding: 10px;
      padding-left: 20px;

      padding-top: 80px;
      margin-top: -80px;

      text-align: left;

      a {
        color: #D3D9E8;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    #social-links {
      margin-top: 30px;
      margin-bottom: 50px;

      text-align: center;

      div {
        display: inline-block;
        margin-right: 2px;

        a {
          vertical-align: top;

          color: #D3D9E8;
          text-decoration: none;
        }
      }

      i.icon.icon48 {
        display: inline-block;

        @size: 40px;
        width: @size;
        height: @size;
        background-size: @size;

        margin-right: 4px;

        opacity: 0.95;

        &.filter-white {
          -webkit-filter: invert(1);
        }

        &.linkedin48 {
          background-image: url(https://cdn1.iconfinder.com/data/icons/capsocial/500/linkedin2-48.png);
        }

        &.facebook48 {
            background-image: url(https://cdn1.iconfinder.com/data/icons/capsocial/500/facebook-48.png);
        }

        &.twitter48 {
            background-image: url(https://cdn1.iconfinder.com/data/icons/capsocial/500/twitter-48.png);
        }

        &.instagram48 {
            background-image: url(https://cdn1.iconfinder.com/data/icons/capsocial/500/707752-instagram-48.png);
        }

        &.skype48 {
            background-image: url(https://cdn1.iconfinder.com/data/icons/capsocial/500/skype-48.png);
        }

        &.vkontakte48 {
            background-image: url(https://cdn1.iconfinder.com/data/icons/capsocial/500/vk-48.png);
        }

        &.github48 {
            background-image: url(https://cdn1.iconfinder.com/data/icons/capsocial/500/github-48.png);
        }
      }
    }
  }

  .bg-wrap {
    #bg-image {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: @zindex-section - @zindex-header - 5;
      
      background-position: center center;
      background-size: cover;
    }

    #bg-shadow {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: @zindex-section - @zindex-header - 4;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  #footer {
    z-index: @zindex-section;
  }
}