@import 'const.less';
@import 'base.less';
@import 'base-layout.less';
@import 'page-landing-courses.less';
@import 'page-landing-workshops.less';

@import './sprites/sprites-icons.less';

body {
    -webkit-overflow-scrolling: touch;

    #deeper { z-index: @zindex-section + @zindex-animated + 8 }
    #directions { z-index: @zindex-section + @zindex-animated + 7 }
    #teachers { z-index: @zindex-section + @zindex-animated + 6 }
    #registration-form { z-index: @zindex-section + @zindex-animated + 4 }
    #students-companies { z-index: @zindex-section + @zindex-animated + 3 }
    #partners { z-index: @zindex-section + @zindex-animated + 2 }

    #deeper {
        background: @section-DEEPER-bg;
        margin-top: -5px;

        .icon.icon-large-notebook {
            display: inline-block;
            float: left;

            .sprite(@icon-icons-collegesuccess-300px);
            background-repeat: no-repeat;

            margin-right: 20px;
            margin-bottom: 50px;

            @media screen and (max-width: 650px) {
                display: block;
                float: none;
                margin: 0 auto;
            }
        }

        .wrap {
            color: @section-DEEPER-color;
            line-height: 1.4em;

            span {
                display: block;
                font: 18px 'Exo 2', Verdana;
                line-height: 1.4em;
            }

            b {
                color: black;
            }
        }

        &.curve-after:after {
            background: @section-DEEPER-bg;

            transform: skew(0deg, -1.5deg);
            -webkit-transform: skew(0deg, -1.5deg);

            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -1px;
        }
    }

    #directions {
        background: @section-COURSES-bg;
        padding-top: 70px;
        padding-bottom: 50px;

        .wrap {
            color: @section-COURSES-color;

            h2 {
                color: @section-COURSES-h2;
            }
        }

        &.curve-after:after {
            background: @section-COURSES-bg;

            transform: skew(0deg, 1.5deg);
            -webkit-transform: skew(0deg, 1.5deg);

            box-shadow: @section-COURSES-bg 0px 3px 2px -2px;
        }

        .directions-types {
            text-align: center;

            @media screen and (max-width: 650px) {
                margin-bottom: 30px;
            }

            h2 {
                display: inline-block;
                cursor: pointer;
                text-decoration: underline;

                opacity: 0.8;
                padding: 8px 0px;

                transition: all .3s ease-in-out;

                @media screen and (max-width: 650px) {
                    margin: 0;
                }

                &:hover {
                    opacity: 1;
                }

                &.active {
                    border-bottom: none;
                    opacity: 1;
                    background-color: rgba(255, 255, 255, 0.7);
                    
                    padding-right: 22px;
                    padding-left: 22px;

                    text-decoration: none;
                }
            }

            .delimiter {
                opacity: 0.5;
                font-size: 30px;
                margin: 0px 10px;
            }
        }

        .direction-list {
            .rows {
                transition: all .3s ease-in-out;
            }

            .hidden {
                display: none;
            }
        }

        .rows {
            text-align: center;

            @media screen and (max-width: 650px) {
                margin-bottom: 20px;
            }

            &:hover {
                .t {
                    opacity: 0.4;
                }

                @media screen and (max-width: 650px) {
                    .t {
                        opacity: 1;
                    }
                }
            }

            .t {
                &:hover {
                    opacity: 1;
                }

                position: relative;
                z-index: @zindex-section + @zindex-animated + 1;

                display: inline-block;
                vertical-align: top;

                margin-right: 20px;
                margin-bottom: 20px;

                width: 30%;

                background: @course-bg;
                border-radius: 3px;
                box-shadow: 0 1px 1px rgba(0,0,0,0.3);

                @media screen and (max-width: 650px) {
                    display: block;
                    width: 100%;

                    margin-bottom: 10px;
                    padding-bottom: 15px;
                }

                transition: all .4s ease;

                &:hover {
                    background: @course-hover-bg;

                    .image img {
                        transform: perspective(500px) translateZ(30px);
                    }
                }

                .title {
                    position: relative;

                    &:before {
                        content: '';

                        position: absolute;
                        left: 0;
                        top: 0;

                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                        width: 100%;
                        height: 100%;

                        opacity: 0.35;

                        z-index: 2;
                    }

                    &:after {
                        content: '';
                        background-color: black;

                        height: 100%;
                        width: 100%;

                        position: absolute;
                        left: 0;
                        top: 0;

                        z-index: 1;

                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                    }
                }

                .name {
                    position: relative;

                    padding: 20px 20px;
                    margin-bottom: 5px;
                    font-weight: 400;
                    z-index: 3;

                    color: white;
                }

                .time {
                    font-size: 15px;
                    margin-bottom: 20px;
                }

                .image img {
                    max-width: 180px;
                    max-height: 180px;
                    min-height: 100px;

                    margin: 0 auto;

                    transform: perspective(500px) translateZ(0px);
                    transition: all .15s ease;
                }

                .desc {
                    margin: 0 auto;
                    margin-top: 15px;
                    margin-bottom: 15px;

                    padding: 5px 10px 5px 10px;

                    font-size: 13px;
                    text-align: center;
                    word-break: break-word;
                }

                .more {
                    display: inline-block;

                    color: @course-more-color;
                    background: @course-more-bg;

                    font-size: 15px;
                    text-decoration: none;

                    margin-bottom: 10px;
                    padding: 10px 20px;

                    cursor: pointer;

                    transition: all 0.25s ease-in-out;

                    span {
                        display: inline-block;
                        margin-left: 5px;
                    }

                    &:hover {
                        background: @course-more-hover-bg;
                        color: @course-more-hover-color;
                        border-color: @course-more-hover-border;
                    }
                }
            }
        }
    }

    #teachers {
        background: @section-TEACHERS-bg;
        padding-top: 70px;
        padding-bottom: 50px;

        .wrap {
            color: @section-TEACHERS-color;

            h2 {
                color: @section-TEACHERS-h2;
            }
        }

        .row {
            text-align: center;
            margin-bottom: 30px;

            .t {
                display: inline-block;
                vertical-align: top;

                margin-right: 10px;
                margin-bottom: 10px;

                padding: 25px;

                a {
                    display: block;
                    text-decoration: none;
                    color: @section-TEACHERS-color;
                }

                @media screen and (max-width: 650px) {
                    .clearfix;

                    display: block;
                    width: 100%;

                    margin: 0;
                    margin-bottom: 10px;

                    padding: 0;
                    padding-bottom: 15px;
                    padding-top: 10px;

                    .desc {
                        width: auto !important;
                    }

                    .name {
                        background: #A4B0D6;
                        padding: 10px 5px;
                    }
                }

                transition: all .4s ease;

                &:hover {
                    background: @teacher-hover;

                    img.photo {
                        transform: perspective(500px) translateZ(50px);
                    }
                }

                .name {
                    font-weight: bold;
                }

                .position {
                    font-size: 15px;
                    margin-top: 1px;
                }

                .courses {
                    margin-top: 5px;

                    i.course {
                        display: inline-block;
                        vertical-align: top;
                        
                        @size: 25px;
                        width: @size;
                        height: @size;

                        background-repeat: no-repeat;

                        border-radius: 3px;

                        margin-right: 3px;
                        margin-bottom: 5px;

                        &:before {
                            display: block;
                            font-size: 10px;
                            font-style: normal;
                        }

                        &:hover {
                            transition: all .5s ease;
                            transform: rotate(360deg);
                        }

                        &.course-ruby {
                            .sprite(@icon-icons-course-ruby-25px);
                        }

                        &.course-webui {
                            .sprite(@icon-icons-course-js-25px);
                        }

                        &.course-htmlcss {
                            .sprite(@icon-icons-course-html-25px);
                        }

                        &.course-php {
                            .sprite(@icon-icons-course-php-25px);
                        }

                        &.course-qa {
                            .sprite(@icon-icons-course-qa-25px);
                        }

                        &.course-sql {
                            .sprite(@icon-icons-course-sql-25px);
                        }

                        &.course-java {
                            .sprite(@icon-icons-course-java-25px);
                        }

                        &.course-devops {
                            .sprite(@icon-icons-course-devops-25px);
                        }

                        &.course-security {
                            .sprite(@icon-icons-course-secutity-25px);
                        }
                    }
                }

                img.photo {
                    display: block;

                    margin: 0 auto;
                    margin-top: 10px;

                    max-width: 190px;
                    max-height: 190px;

                    border-radius: 50%;

                    transform: perspective(500px) translateZ(0px);

                    transition: all .15s ease;
                }

                .desc {
                    width: 200px;

                    // @media screen and (max-width: 650px) {
                    //     width: 90%;
                    // }

                    user-select: none;
                    -webkit-user-select: none;

                    margin: 0 auto;
                    margin-top: 20px;

                    font-size: 14px;
                    text-align: center;
                    word-break: break-word;
                }

                .links {
                    margin-top: 10px;

                    a {
                        display: inline-block;
                    }

                    &:hover {
                        i {
                            opacity: 0.5;
                        }
                    }

                    i {
                        display: inline-block;

                        @size: 16px;
                        width: @size;
                        height: @size;
                        // background-size: @size;

                        margin-right: 4px;

                        transition: all 0.15s ease-in-out;

                        opacity: 0.5;

                        &:hover {
                            opacity: 1;
                            transform: translate(0px, -2px);
                        }

                        &.linkedin {
                            .sprite(@icon-icons-linkedin-mono-16);
                        }

                        &.facebook {
                            .sprite(@icon-icons-facebook-mono-16);
                        }

                        &.instagram {
                            .sprite(@icon-icons-instagram-mono-16);
                        }

                        &.skype {
                            .sprite(@icon-icons-skype-mono-16);
                        }

                        &.vkontakte {
                            .sprite(@icon-icons-vk-mono-16);
                        }

                        &.github {
                            .sprite(@icon-icons-github-mono-16);
                        }
                    }
                }
            }
        }

        #add-teacher {
            // text-align: center;
            input[type="submit"] {
                font-size: 17px;
                
                background: #D4D7E2;
                border-color: #D4D7E2;

                box-shadow: 0 2px #27496d;

                &:hover {
                      // box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;

                }

                &:active {
  box-shadow: 0 5px #27496d;
  transform: translateY(5px);

                }
            }
        }

        &.curve-after:after {
            background: @section-TEACHERS-bg;

            transform: skew(0deg, -1.5deg);
            -webkit-transform: skew(0deg, -1.5deg);

            box-shadow: @section-TEACHERS-bg 0px 5px 3px -2px;
        }
    }

    #registration-form {
        padding-top: 100px;
        padding-bottom: 30px;

        background: @section-REG_FORM-bg;

        form.light-form {
            margin-top: 50px;
        }

        .wrap {
            max-width: 1000px;

            b.highlight {
                color: #FACF3B;
            }
        }

        &.curve-after:after {
            background: @section-REG_FORM-bg;

            transform: skew(0deg, 1.5deg);
            -webkit-transform: skew(0deg, 1.5deg);

            box-shadow: @section-REG_FORM-bg 0px 3px 3px -2px;
        }
    }

    #students-companies {
        background: @section-STUDENTSCOMPANIES-bg;
        padding-top: 70px;
        padding-bottom: 10px;

        .wrap h2 {
            color: @section-STUDENTSCOMPANIES-h2;
        }

        &.curve-after:after {
            background: @section-STUDENTSCOMPANIES-bg;

            transform: skew(0deg, -1.5deg);
            -webkit-transform: skew(0deg, -1.5deg);

            box-shadow: @section-STUDENTSCOMPANIES-bg 0px 3px 2px -2px;
        }
    }

    #partners {
        background: @section-PARTNERS-bg;
        padding-top: 70px;

        .wrap h2 {
            color: @section-PARTNERS-h2;
        }

        &.curve-after:after {
            background: @section-PARTNERS-bg;

            transform: skew(0deg, -1.5deg);
            -webkit-transform: skew(0deg, -1.5deg);

            box-shadow: @section-PARTNERS-bg 0px 3px 2px -2px;
        }
    }

    #students-companies,
    #partners {
        text-align: center;

        div.list {
            display: inline-block;
            margin-bottom: 10px;
            text-align: center;

            @media screen and (max-width: 650px) {
                margin-bottom: 0px;
            }

            &:hover {
                .t {
                    opacity: 0.4;
                }
            }

            .t-br {
                display: block;
                margin-top: 10px;
            }

            .t {
                @media screen and (max-width: 650px) {
                    vertical-align: middle;
                    margin-bottom: 10px;
                }

                display: inline-block;
                vertical-align: top;

                margin-right: 15px;

                transition: all 0.15s ease-in-out;

                &:hover {
                    opacity: 1;
                }

                a {
                    display: inline-block;
                }

                img {
                    max-width: 250px;
                    background: #FFF;
                    padding: 10px;
                    border-radius: 4px;
                }
            }
        }
    }
}