/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-icons-collegesuccess-300px-name: icon-icons-collegesuccess-300px;
@icon-icons-collegesuccess-300px-x: 0px;
@icon-icons-collegesuccess-300px-y: 0px;
@icon-icons-collegesuccess-300px-offset-x: 0px;
@icon-icons-collegesuccess-300px-offset-y: 0px;
@icon-icons-collegesuccess-300px-width: 327px;
@icon-icons-collegesuccess-300px-height: 300px;
@icon-icons-collegesuccess-300px-total-width: 581px;
@icon-icons-collegesuccess-300px-total-height: 559px;
@icon-icons-collegesuccess-300px-image: '/assets/sprites-icons.png';
@icon-icons-collegesuccess-300px: 0px 0px 0px 0px 327px 300px 581px 559px '/assets/sprites-icons.png' icon-icons-collegesuccess-300px;
@icon-icons-course-db-25px-name: icon-icons-course-db-25px;
@icon-icons-course-db-25px-x: 0px;
@icon-icons-course-db-25px-y: 535px;
@icon-icons-course-db-25px-offset-x: 0px;
@icon-icons-course-db-25px-offset-y: -535px;
@icon-icons-course-db-25px-width: 25px;
@icon-icons-course-db-25px-height: 24px;
@icon-icons-course-db-25px-total-width: 581px;
@icon-icons-course-db-25px-total-height: 559px;
@icon-icons-course-db-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-db-25px: 0px 535px 0px -535px 25px 24px 581px 559px '/assets/sprites-icons.png' icon-icons-course-db-25px;
@icon-icons-course-devops-25px-name: icon-icons-course-devops-25px;
@icon-icons-course-devops-25px-x: 0px;
@icon-icons-course-devops-25px-y: 510px;
@icon-icons-course-devops-25px-offset-x: 0px;
@icon-icons-course-devops-25px-offset-y: -510px;
@icon-icons-course-devops-25px-width: 25px;
@icon-icons-course-devops-25px-height: 25px;
@icon-icons-course-devops-25px-total-width: 581px;
@icon-icons-course-devops-25px-total-height: 559px;
@icon-icons-course-devops-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-devops-25px: 0px 510px 0px -510px 25px 25px 581px 559px '/assets/sprites-icons.png' icon-icons-course-devops-25px;
@icon-icons-course-html-25px-name: icon-icons-course-html-25px;
@icon-icons-course-html-25px-x: 511px;
@icon-icons-course-html-25px-y: 37px;
@icon-icons-course-html-25px-offset-x: -511px;
@icon-icons-course-html-25px-offset-y: -37px;
@icon-icons-course-html-25px-width: 25px;
@icon-icons-course-html-25px-height: 25px;
@icon-icons-course-html-25px-total-width: 581px;
@icon-icons-course-html-25px-total-height: 559px;
@icon-icons-course-html-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-html-25px: 511px 37px -511px -37px 25px 25px 581px 559px '/assets/sprites-icons.png' icon-icons-course-html-25px;
@icon-icons-course-java-25px-name: icon-icons-course-java-25px;
@icon-icons-course-java-25px-x: 131px;
@icon-icons-course-java-25px-y: 504px;
@icon-icons-course-java-25px-offset-x: -131px;
@icon-icons-course-java-25px-offset-y: -504px;
@icon-icons-course-java-25px-width: 25px;
@icon-icons-course-java-25px-height: 25px;
@icon-icons-course-java-25px-total-width: 581px;
@icon-icons-course-java-25px-total-height: 559px;
@icon-icons-course-java-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-java-25px: 131px 504px -131px -504px 25px 25px 581px 559px '/assets/sprites-icons.png' icon-icons-course-java-25px;
@icon-icons-course-js-25px-name: icon-icons-course-js-25px;
@icon-icons-course-js-25px-x: 156px;
@icon-icons-course-js-25px-y: 504px;
@icon-icons-course-js-25px-offset-x: -156px;
@icon-icons-course-js-25px-offset-y: -504px;
@icon-icons-course-js-25px-width: 25px;
@icon-icons-course-js-25px-height: 25px;
@icon-icons-course-js-25px-total-width: 581px;
@icon-icons-course-js-25px-total-height: 559px;
@icon-icons-course-js-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-js-25px: 156px 504px -156px -504px 25px 25px 581px 559px '/assets/sprites-icons.png' icon-icons-course-js-25px;
@icon-icons-course-php-25px-name: icon-icons-course-php-25px;
@icon-icons-course-php-25px-x: 451px;
@icon-icons-course-php-25px-y: 282px;
@icon-icons-course-php-25px-offset-x: -451px;
@icon-icons-course-php-25px-offset-y: -282px;
@icon-icons-course-php-25px-width: 25px;
@icon-icons-course-php-25px-height: 25px;
@icon-icons-course-php-25px-total-width: 581px;
@icon-icons-course-php-25px-total-height: 559px;
@icon-icons-course-php-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-php-25px: 451px 282px -451px -282px 25px 25px 581px 559px '/assets/sprites-icons.png' icon-icons-course-php-25px;
@icon-icons-course-qa-25px-name: icon-icons-course-qa-25px;
@icon-icons-course-qa-25px-x: 25px;
@icon-icons-course-qa-25px-y: 510px;
@icon-icons-course-qa-25px-offset-x: -25px;
@icon-icons-course-qa-25px-offset-y: -510px;
@icon-icons-course-qa-25px-width: 25px;
@icon-icons-course-qa-25px-height: 25px;
@icon-icons-course-qa-25px-total-width: 581px;
@icon-icons-course-qa-25px-total-height: 559px;
@icon-icons-course-qa-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-qa-25px: 25px 510px -25px -510px 25px 25px 581px 559px '/assets/sprites-icons.png' icon-icons-course-qa-25px;
@icon-icons-course-ruby-25px-name: icon-icons-course-ruby-25px;
@icon-icons-course-ruby-25px-x: 190px;
@icon-icons-course-ruby-25px-y: 500px;
@icon-icons-course-ruby-25px-offset-x: -190px;
@icon-icons-course-ruby-25px-offset-y: -500px;
@icon-icons-course-ruby-25px-width: 25px;
@icon-icons-course-ruby-25px-height: 25px;
@icon-icons-course-ruby-25px-total-width: 581px;
@icon-icons-course-ruby-25px-total-height: 559px;
@icon-icons-course-ruby-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-ruby-25px: 190px 500px -190px -500px 25px 25px 581px 559px '/assets/sprites-icons.png' icon-icons-course-ruby-25px;
@icon-icons-course-secutity-25px-name: icon-icons-course-secutity-25px;
@icon-icons-course-secutity-25px-x: 348px;
@icon-icons-course-secutity-25px-y: 406px;
@icon-icons-course-secutity-25px-offset-x: -348px;
@icon-icons-course-secutity-25px-offset-y: -406px;
@icon-icons-course-secutity-25px-width: 25px;
@icon-icons-course-secutity-25px-height: 25px;
@icon-icons-course-secutity-25px-total-width: 581px;
@icon-icons-course-secutity-25px-total-height: 559px;
@icon-icons-course-secutity-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-secutity-25px: 348px 406px -348px -406px 25px 25px 581px 559px '/assets/sprites-icons.png' icon-icons-course-secutity-25px;
@icon-icons-course-sql-25px-name: icon-icons-course-sql-25px;
@icon-icons-course-sql-25px-x: 460px;
@icon-icons-course-sql-25px-y: 257px;
@icon-icons-course-sql-25px-offset-x: -460px;
@icon-icons-course-sql-25px-offset-y: -257px;
@icon-icons-course-sql-25px-width: 23px;
@icon-icons-course-sql-25px-height: 25px;
@icon-icons-course-sql-25px-total-width: 581px;
@icon-icons-course-sql-25px-total-height: 559px;
@icon-icons-course-sql-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-sql-25px: 460px 257px -460px -257px 23px 25px 581px 559px '/assets/sprites-icons.png' icon-icons-course-sql-25px;
@icon-icons-facebook-mono-16-name: icon-icons-facebook-mono-16;
@icon-icons-facebook-mono-16-x: 520px;
@icon-icons-facebook-mono-16-y: 156px;
@icon-icons-facebook-mono-16-offset-x: -520px;
@icon-icons-facebook-mono-16-offset-y: -156px;
@icon-icons-facebook-mono-16-width: 16px;
@icon-icons-facebook-mono-16-height: 16px;
@icon-icons-facebook-mono-16-total-width: 581px;
@icon-icons-facebook-mono-16-total-height: 559px;
@icon-icons-facebook-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-facebook-mono-16: 520px 156px -520px -156px 16px 16px 581px 559px '/assets/sprites-icons.png' icon-icons-facebook-mono-16;
@icon-icons-github-16px-name: icon-icons-github-16px;
@icon-icons-github-16px-x: 520px;
@icon-icons-github-16px-y: 140px;
@icon-icons-github-16px-offset-x: -520px;
@icon-icons-github-16px-offset-y: -140px;
@icon-icons-github-16px-width: 16px;
@icon-icons-github-16px-height: 16px;
@icon-icons-github-16px-total-width: 581px;
@icon-icons-github-16px-total-height: 559px;
@icon-icons-github-16px-image: '/assets/sprites-icons.png';
@icon-icons-github-16px: 520px 140px -520px -140px 16px 16px 581px 559px '/assets/sprites-icons.png' icon-icons-github-16px;
@icon-icons-github-mono-16-name: icon-icons-github-mono-16;
@icon-icons-github-mono-16-x: 25px;
@icon-icons-github-mono-16-y: 535px;
@icon-icons-github-mono-16-offset-x: -25px;
@icon-icons-github-mono-16-offset-y: -535px;
@icon-icons-github-mono-16-width: 16px;
@icon-icons-github-mono-16-height: 16px;
@icon-icons-github-mono-16-total-width: 581px;
@icon-icons-github-mono-16-total-height: 559px;
@icon-icons-github-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-github-mono-16: 25px 535px -25px -535px 16px 16px 581px 559px '/assets/sprites-icons.png' icon-icons-github-mono-16;
@icon-icons-instagram-mono-16-name: icon-icons-instagram-mono-16;
@icon-icons-instagram-mono-16-x: 260px;
@icon-icons-instagram-mono-16-y: 469px;
@icon-icons-instagram-mono-16-offset-x: -260px;
@icon-icons-instagram-mono-16-offset-y: -469px;
@icon-icons-instagram-mono-16-width: 16px;
@icon-icons-instagram-mono-16-height: 16px;
@icon-icons-instagram-mono-16-total-width: 581px;
@icon-icons-instagram-mono-16-total-height: 559px;
@icon-icons-instagram-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-instagram-mono-16: 260px 469px -260px -469px 16px 16px 581px 559px '/assets/sprites-icons.png' icon-icons-instagram-mono-16;
@icon-icons-linkedin-16px-name: icon-icons-linkedin-16px;
@icon-icons-linkedin-16px-x: 41px;
@icon-icons-linkedin-16px-y: 535px;
@icon-icons-linkedin-16px-offset-x: -41px;
@icon-icons-linkedin-16px-offset-y: -535px;
@icon-icons-linkedin-16px-width: 16px;
@icon-icons-linkedin-16px-height: 16px;
@icon-icons-linkedin-16px-total-width: 581px;
@icon-icons-linkedin-16px-total-height: 559px;
@icon-icons-linkedin-16px-image: '/assets/sprites-icons.png';
@icon-icons-linkedin-16px: 41px 535px -41px -535px 16px 16px 581px 559px '/assets/sprites-icons.png' icon-icons-linkedin-16px;
@icon-icons-linkedin-mono-16-name: icon-icons-linkedin-mono-16;
@icon-icons-linkedin-mono-16-x: 536px;
@icon-icons-linkedin-mono-16-y: 37px;
@icon-icons-linkedin-mono-16-offset-x: -536px;
@icon-icons-linkedin-mono-16-offset-y: -37px;
@icon-icons-linkedin-mono-16-width: 16px;
@icon-icons-linkedin-mono-16-height: 16px;
@icon-icons-linkedin-mono-16-total-width: 581px;
@icon-icons-linkedin-mono-16-total-height: 559px;
@icon-icons-linkedin-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-linkedin-mono-16: 536px 37px -536px -37px 16px 16px 581px 559px '/assets/sprites-icons.png' icon-icons-linkedin-mono-16;
@icon-icons-mail-16px-name: icon-icons-mail-16px;
@icon-icons-mail-16px-x: 327px;
@icon-icons-mail-16px-y: 350px;
@icon-icons-mail-16px-offset-x: -327px;
@icon-icons-mail-16px-offset-y: -350px;
@icon-icons-mail-16px-width: 16px;
@icon-icons-mail-16px-height: 16px;
@icon-icons-mail-16px-total-width: 581px;
@icon-icons-mail-16px-total-height: 559px;
@icon-icons-mail-16px-image: '/assets/sprites-icons.png';
@icon-icons-mail-16px: 327px 350px -327px -350px 16px 16px 581px 559px '/assets/sprites-icons.png' icon-icons-mail-16px;
@icon-icons-skype-mono-16-name: icon-icons-skype-mono-16;
@icon-icons-skype-mono-16-x: 418px;
@icon-icons-skype-mono-16-y: 340px;
@icon-icons-skype-mono-16-offset-x: -418px;
@icon-icons-skype-mono-16-offset-y: -340px;
@icon-icons-skype-mono-16-width: 16px;
@icon-icons-skype-mono-16-height: 16px;
@icon-icons-skype-mono-16-total-width: 581px;
@icon-icons-skype-mono-16-total-height: 559px;
@icon-icons-skype-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-skype-mono-16: 418px 340px -418px -340px 16px 16px 581px 559px '/assets/sprites-icons.png' icon-icons-skype-mono-16;
@icon-icons-tech-angularjs-name: icon-icons-tech-angularjs;
@icon-icons-tech-angularjs-x: 384px;
@icon-icons-tech-angularjs-y: 140px;
@icon-icons-tech-angularjs-offset-x: -384px;
@icon-icons-tech-angularjs-offset-y: -140px;
@icon-icons-tech-angularjs-width: 66px;
@icon-icons-tech-angularjs-height: 70px;
@icon-icons-tech-angularjs-total-width: 581px;
@icon-icons-tech-angularjs-total-height: 559px;
@icon-icons-tech-angularjs-image: '/assets/sprites-icons.png';
@icon-icons-tech-angularjs: 384px 140px -384px -140px 66px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-angularjs;
@icon-icons-tech-backbone-name: icon-icons-tech-backbone;
@icon-icons-tech-backbone-x: 178px;
@icon-icons-tech-backbone-y: 370px;
@icon-icons-tech-backbone-offset-x: -178px;
@icon-icons-tech-backbone-offset-y: -370px;
@icon-icons-tech-backbone-width: 56px;
@icon-icons-tech-backbone-height: 70px;
@icon-icons-tech-backbone-total-width: 581px;
@icon-icons-tech-backbone-total-height: 559px;
@icon-icons-tech-backbone-image: '/assets/sprites-icons.png';
@icon-icons-tech-backbone: 178px 370px -178px -370px 56px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-backbone;
@icon-icons-tech-bash-name: icon-icons-tech-bash;
@icon-icons-tech-bash-x: 391px;
@icon-icons-tech-bash-y: 280px;
@icon-icons-tech-bash-offset-x: -391px;
@icon-icons-tech-bash-offset-y: -280px;
@icon-icons-tech-bash-width: 60px;
@icon-icons-tech-bash-height: 60px;
@icon-icons-tech-bash-total-width: 581px;
@icon-icons-tech-bash-total-height: 559px;
@icon-icons-tech-bash-image: '/assets/sprites-icons.png';
@icon-icons-tech-bash: 391px 280px -391px -280px 60px 60px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-bash;
@icon-icons-tech-capistrano-name: icon-icons-tech-capistrano;
@icon-icons-tech-capistrano-x: 428px;
@icon-icons-tech-capistrano-y: 70px;
@icon-icons-tech-capistrano-offset-x: -428px;
@icon-icons-tech-capistrano-offset-y: -70px;
@icon-icons-tech-capistrano-width: 70px;
@icon-icons-tech-capistrano-height: 70px;
@icon-icons-tech-capistrano-total-width: 581px;
@icon-icons-tech-capistrano-total-height: 559px;
@icon-icons-tech-capistrano-image: '/assets/sprites-icons.png';
@icon-icons-tech-capistrano: 428px 70px -428px -70px 70px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-capistrano;
@icon-icons-tech-cassandra-name: icon-icons-tech-cassandra;
@icon-icons-tech-cassandra-x: 61px;
@icon-icons-tech-cassandra-y: 505px;
@icon-icons-tech-cassandra-offset-x: -61px;
@icon-icons-tech-cassandra-offset-y: -505px;
@icon-icons-tech-cassandra-width: 70px;
@icon-icons-tech-cassandra-height: 37px;
@icon-icons-tech-cassandra-total-width: 581px;
@icon-icons-tech-cassandra-total-height: 559px;
@icon-icons-tech-cassandra-image: '/assets/sprites-icons.png';
@icon-icons-tech-cassandra: 61px 505px -61px -505px 70px 37px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-cassandra;
@icon-icons-tech-composer-name: icon-icons-tech-composer;
@icon-icons-tech-composer-x: 0px;
@icon-icons-tech-composer-y: 370px;
@icon-icons-tech-composer-offset-x: 0px;
@icon-icons-tech-composer-offset-y: -370px;
@icon-icons-tech-composer-width: 53px;
@icon-icons-tech-composer-height: 70px;
@icon-icons-tech-composer-total-width: 581px;
@icon-icons-tech-composer-total-height: 559px;
@icon-icons-tech-composer-image: '/assets/sprites-icons.png';
@icon-icons-tech-composer: 0px 370px 0px -370px 53px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-composer;
@icon-icons-tech-csharp-name: icon-icons-tech-csharp;
@icon-icons-tech-csharp-x: 0px;
@icon-icons-tech-csharp-y: 300px;
@icon-icons-tech-csharp-offset-x: 0px;
@icon-icons-tech-csharp-offset-y: -300px;
@icon-icons-tech-csharp-width: 70px;
@icon-icons-tech-csharp-height: 70px;
@icon-icons-tech-csharp-total-width: 581px;
@icon-icons-tech-csharp-total-height: 559px;
@icon-icons-tech-csharp-image: '/assets/sprites-icons.png';
@icon-icons-tech-csharp: 0px 300px 0px -300px 70px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-csharp;
@icon-icons-tech-css3-name: icon-icons-tech-css3;
@icon-icons-tech-css3-x: 234px;
@icon-icons-tech-css3-y: 370px;
@icon-icons-tech-css3-offset-x: -234px;
@icon-icons-tech-css3-offset-y: -370px;
@icon-icons-tech-css3-width: 50px;
@icon-icons-tech-css3-height: 70px;
@icon-icons-tech-css3-total-width: 581px;
@icon-icons-tech-css3-total-height: 559px;
@icon-icons-tech-css3-image: '/assets/sprites-icons.png';
@icon-icons-tech-css3: 234px 370px -234px -370px 50px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-css3;
@icon-icons-tech-db-name: icon-icons-tech-db;
@icon-icons-tech-db-x: 327px;
@icon-icons-tech-db-y: 280px;
@icon-icons-tech-db-offset-x: -327px;
@icon-icons-tech-db-offset-y: -280px;
@icon-icons-tech-db-width: 64px;
@icon-icons-tech-db-height: 70px;
@icon-icons-tech-db-total-width: 581px;
@icon-icons-tech-db-total-height: 559px;
@icon-icons-tech-db-image: '/assets/sprites-icons.png';
@icon-icons-tech-db: 327px 280px -327px -280px 64px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-db;
@icon-icons-tech-dns-name: icon-icons-tech-dns;
@icon-icons-tech-dns-x: 284px;
@icon-icons-tech-dns-y: 370px;
@icon-icons-tech-dns-offset-x: -284px;
@icon-icons-tech-dns-offset-y: -370px;
@icon-icons-tech-dns-width: 64px;
@icon-icons-tech-dns-height: 64px;
@icon-icons-tech-dns-total-width: 581px;
@icon-icons-tech-dns-total-height: 559px;
@icon-icons-tech-dns-image: '/assets/sprites-icons.png';
@icon-icons-tech-dns: 284px 370px -284px -370px 64px 64px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-dns;
@icon-icons-tech-docker-name: icon-icons-tech-docker;
@icon-icons-tech-docker-x: 498px;
@icon-icons-tech-docker-y: 64px;
@icon-icons-tech-docker-offset-x: -498px;
@icon-icons-tech-docker-offset-y: -64px;
@icon-icons-tech-docker-width: 70px;
@icon-icons-tech-docker-height: 40px;
@icon-icons-tech-docker-total-width: 581px;
@icon-icons-tech-docker-total-height: 559px;
@icon-icons-tech-docker-image: '/assets/sprites-icons.png';
@icon-icons-tech-docker: 498px 64px -498px -64px 70px 40px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-docker;
@icon-icons-tech-git-name: icon-icons-tech-git;
@icon-icons-tech-git-x: 260px;
@icon-icons-tech-git-y: 440px;
@icon-icons-tech-git-offset-x: -260px;
@icon-icons-tech-git-offset-y: -440px;
@icon-icons-tech-git-width: 70px;
@icon-icons-tech-git-height: 29px;
@icon-icons-tech-git-total-width: 581px;
@icon-icons-tech-git-total-height: 559px;
@icon-icons-tech-git-image: '/assets/sprites-icons.png';
@icon-icons-tech-git: 260px 440px -260px -440px 70px 29px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-git;
@icon-icons-tech-github-name: icon-icons-tech-github;
@icon-icons-tech-github-x: 447px;
@icon-icons-tech-github-y: 0px;
@icon-icons-tech-github-offset-x: -447px;
@icon-icons-tech-github-offset-y: 0px;
@icon-icons-tech-github-width: 64px;
@icon-icons-tech-github-height: 64px;
@icon-icons-tech-github-total-width: 581px;
@icon-icons-tech-github-total-height: 559px;
@icon-icons-tech-github-image: '/assets/sprites-icons.png';
@icon-icons-tech-github: 447px 0px -447px 0px 64px 64px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-github;
@icon-icons-tech-heroku-name: icon-icons-tech-heroku;
@icon-icons-tech-heroku-x: 266px;
@icon-icons-tech-heroku-y: 300px;
@icon-icons-tech-heroku-offset-x: -266px;
@icon-icons-tech-heroku-offset-y: -300px;
@icon-icons-tech-heroku-width: 61px;
@icon-icons-tech-heroku-height: 70px;
@icon-icons-tech-heroku-total-width: 581px;
@icon-icons-tech-heroku-total-height: 559px;
@icon-icons-tech-heroku-image: '/assets/sprites-icons.png';
@icon-icons-tech-heroku: 266px 300px -266px -300px 61px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-heroku;
@icon-icons-tech-html5-name: icon-icons-tech-html5;
@icon-icons-tech-html5-x: 397px;
@icon-icons-tech-html5-y: 0px;
@icon-icons-tech-html5-offset-x: -397px;
@icon-icons-tech-html5-offset-y: 0px;
@icon-icons-tech-html5-width: 50px;
@icon-icons-tech-html5-height: 70px;
@icon-icons-tech-html5-total-width: 581px;
@icon-icons-tech-html5-total-height: 559px;
@icon-icons-tech-html5-image: '/assets/sprites-icons.png';
@icon-icons-tech-html5: 397px 0px -397px 0px 50px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-html5;
@icon-icons-tech-http-name: icon-icons-tech-http;
@icon-icons-tech-http-x: 396px;
@icon-icons-tech-http-y: 210px;
@icon-icons-tech-http-offset-x: -396px;
@icon-icons-tech-http-offset-y: -210px;
@icon-icons-tech-http-width: 64px;
@icon-icons-tech-http-height: 64px;
@icon-icons-tech-http-total-width: 581px;
@icon-icons-tech-http-total-height: 559px;
@icon-icons-tech-http-image: '/assets/sprites-icons.png';
@icon-icons-tech-http: 396px 210px -396px -210px 64px 64px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-http;
@icon-icons-tech-java-name: icon-icons-tech-java;
@icon-icons-tech-java-x: 390px;
@icon-icons-tech-java-y: 70px;
@icon-icons-tech-java-offset-x: -390px;
@icon-icons-tech-java-offset-y: -70px;
@icon-icons-tech-java-width: 38px;
@icon-icons-tech-java-height: 70px;
@icon-icons-tech-java-total-width: 581px;
@icon-icons-tech-java-total-height: 559px;
@icon-icons-tech-java-image: '/assets/sprites-icons.png';
@icon-icons-tech-java: 390px 70px -390px -70px 38px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-java;
@icon-icons-tech-jquery-name: icon-icons-tech-jquery;
@icon-icons-tech-jquery-x: 126px;
@icon-icons-tech-jquery-y: 440px;
@icon-icons-tech-jquery-offset-x: -126px;
@icon-icons-tech-jquery-offset-y: -440px;
@icon-icons-tech-jquery-width: 64px;
@icon-icons-tech-jquery-height: 64px;
@icon-icons-tech-jquery-total-width: 581px;
@icon-icons-tech-jquery-total-height: 559px;
@icon-icons-tech-jquery-image: '/assets/sprites-icons.png';
@icon-icons-tech-jquery: 126px 440px -126px -440px 64px 64px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-jquery;
@icon-icons-tech-js-name: icon-icons-tech-js;
@icon-icons-tech-js-x: 0px;
@icon-icons-tech-js-y: 440px;
@icon-icons-tech-js-offset-x: 0px;
@icon-icons-tech-js-offset-y: -440px;
@icon-icons-tech-js-width: 61px;
@icon-icons-tech-js-height: 70px;
@icon-icons-tech-js-total-width: 581px;
@icon-icons-tech-js-total-height: 559px;
@icon-icons-tech-js-image: '/assets/sprites-icons.png';
@icon-icons-tech-js: 0px 440px 0px -440px 61px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-js;
@icon-icons-tech-mongodb-name: icon-icons-tech-mongodb;
@icon-icons-tech-mongodb-x: 108px;
@icon-icons-tech-mongodb-y: 370px;
@icon-icons-tech-mongodb-offset-x: -108px;
@icon-icons-tech-mongodb-offset-y: -370px;
@icon-icons-tech-mongodb-width: 70px;
@icon-icons-tech-mongodb-height: 70px;
@icon-icons-tech-mongodb-total-width: 581px;
@icon-icons-tech-mongodb-total-height: 559px;
@icon-icons-tech-mongodb-image: '/assets/sprites-icons.png';
@icon-icons-tech-mongodb: 108px 370px -108px -370px 70px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-mongodb;
@icon-icons-tech-mysql-name: icon-icons-tech-mysql;
@icon-icons-tech-mysql-x: 498px;
@icon-icons-tech-mysql-y: 104px;
@icon-icons-tech-mysql-offset-x: -498px;
@icon-icons-tech-mysql-offset-y: -104px;
@icon-icons-tech-mysql-width: 70px;
@icon-icons-tech-mysql-height: 36px;
@icon-icons-tech-mysql-total-width: 581px;
@icon-icons-tech-mysql-total-height: 559px;
@icon-icons-tech-mysql-image: '/assets/sprites-icons.png';
@icon-icons-tech-mysql: 498px 104px -498px -104px 70px 36px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-mysql;
@icon-icons-tech-neo4j-name: icon-icons-tech-neo4j;
@icon-icons-tech-neo4j-x: 53px;
@icon-icons-tech-neo4j-y: 370px;
@icon-icons-tech-neo4j-offset-x: -53px;
@icon-icons-tech-neo4j-offset-y: -370px;
@icon-icons-tech-neo4j-width: 55px;
@icon-icons-tech-neo4j-height: 70px;
@icon-icons-tech-neo4j-total-width: 581px;
@icon-icons-tech-neo4j-total-height: 559px;
@icon-icons-tech-neo4j-image: '/assets/sprites-icons.png';
@icon-icons-tech-neo4j: 53px 370px -53px -370px 55px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-neo4j;
@icon-icons-tech-nodejs-name: icon-icons-tech-nodejs;
@icon-icons-tech-nodejs-x: 61px;
@icon-icons-tech-nodejs-y: 440px;
@icon-icons-tech-nodejs-offset-x: -61px;
@icon-icons-tech-nodejs-offset-y: -440px;
@icon-icons-tech-nodejs-width: 65px;
@icon-icons-tech-nodejs-height: 65px;
@icon-icons-tech-nodejs-total-width: 581px;
@icon-icons-tech-nodejs-total-height: 559px;
@icon-icons-tech-nodejs-image: '/assets/sprites-icons.png';
@icon-icons-tech-nodejs: 61px 440px -61px -440px 65px 65px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-nodejs;
@icon-icons-tech-nosql-name: icon-icons-tech-nosql;
@icon-icons-tech-nosql-x: 460px;
@icon-icons-tech-nosql-y: 201px;
@icon-icons-tech-nosql-offset-x: -460px;
@icon-icons-tech-nosql-offset-y: -201px;
@icon-icons-tech-nosql-width: 70px;
@icon-icons-tech-nosql-height: 56px;
@icon-icons-tech-nosql-total-width: 581px;
@icon-icons-tech-nosql-total-height: 559px;
@icon-icons-tech-nosql-image: '/assets/sprites-icons.png';
@icon-icons-tech-nosql: 460px 201px -460px -201px 70px 56px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-nosql;
@icon-icons-tech-php-name: icon-icons-tech-php;
@icon-icons-tech-php-x: 511px;
@icon-icons-tech-php-y: 0px;
@icon-icons-tech-php-offset-x: -511px;
@icon-icons-tech-php-offset-y: 0px;
@icon-icons-tech-php-width: 70px;
@icon-icons-tech-php-height: 37px;
@icon-icons-tech-php-total-width: 581px;
@icon-icons-tech-php-total-height: 559px;
@icon-icons-tech-php-image: '/assets/sprites-icons.png';
@icon-icons-tech-php: 511px 0px -511px 0px 70px 37px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-php;
@icon-icons-tech-postgresql-name: icon-icons-tech-postgresql;
@icon-icons-tech-postgresql-x: 198px;
@icon-icons-tech-postgresql-y: 300px;
@icon-icons-tech-postgresql-offset-x: -198px;
@icon-icons-tech-postgresql-offset-y: -300px;
@icon-icons-tech-postgresql-width: 68px;
@icon-icons-tech-postgresql-height: 70px;
@icon-icons-tech-postgresql-total-width: 581px;
@icon-icons-tech-postgresql-total-height: 559px;
@icon-icons-tech-postgresql-image: '/assets/sprites-icons.png';
@icon-icons-tech-postgresql: 198px 300px -198px -300px 68px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-postgresql;
@icon-icons-tech-redis-name: icon-icons-tech-redis;
@icon-icons-tech-redis-x: 190px;
@icon-icons-tech-redis-y: 440px;
@icon-icons-tech-redis-offset-x: -190px;
@icon-icons-tech-redis-offset-y: -440px;
@icon-icons-tech-redis-width: 70px;
@icon-icons-tech-redis-height: 60px;
@icon-icons-tech-redis-total-width: 581px;
@icon-icons-tech-redis-total-height: 559px;
@icon-icons-tech-redis-image: '/assets/sprites-icons.png';
@icon-icons-tech-redis: 190px 440px -190px -440px 70px 60px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-redis;
@icon-icons-tech-ruby-on-rails-name: icon-icons-tech-ruby-on-rails;
@icon-icons-tech-ruby-on-rails-x: 327px;
@icon-icons-tech-ruby-on-rails-y: 140px;
@icon-icons-tech-ruby-on-rails-offset-x: -327px;
@icon-icons-tech-ruby-on-rails-offset-y: -140px;
@icon-icons-tech-ruby-on-rails-width: 57px;
@icon-icons-tech-ruby-on-rails-height: 70px;
@icon-icons-tech-ruby-on-rails-total-width: 581px;
@icon-icons-tech-ruby-on-rails-total-height: 559px;
@icon-icons-tech-ruby-on-rails-image: '/assets/sprites-icons.png';
@icon-icons-tech-ruby-on-rails: 327px 140px -327px -140px 57px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-ruby-on-rails;
@icon-icons-tech-ruby-name: icon-icons-tech-ruby;
@icon-icons-tech-ruby-x: 450px;
@icon-icons-tech-ruby-y: 140px;
@icon-icons-tech-ruby-offset-x: -450px;
@icon-icons-tech-ruby-offset-y: -140px;
@icon-icons-tech-ruby-width: 70px;
@icon-icons-tech-ruby-height: 61px;
@icon-icons-tech-ruby-total-width: 581px;
@icon-icons-tech-ruby-total-height: 559px;
@icon-icons-tech-ruby-image: '/assets/sprites-icons.png';
@icon-icons-tech-ruby: 450px 140px -450px -140px 70px 61px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-ruby;
@icon-icons-tech-silex-name: icon-icons-tech-silex;
@icon-icons-tech-silex-x: 348px;
@icon-icons-tech-silex-y: 350px;
@icon-icons-tech-silex-offset-x: -348px;
@icon-icons-tech-silex-offset-y: -350px;
@icon-icons-tech-silex-width: 70px;
@icon-icons-tech-silex-height: 56px;
@icon-icons-tech-silex-total-width: 581px;
@icon-icons-tech-silex-total-height: 559px;
@icon-icons-tech-silex-image: '/assets/sprites-icons.png';
@icon-icons-tech-silex: 348px 350px -348px -350px 70px 56px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-silex;
@icon-icons-tech-sqlite-name: icon-icons-tech-sqlite;
@icon-icons-tech-sqlite-x: 327px;
@icon-icons-tech-sqlite-y: 70px;
@icon-icons-tech-sqlite-offset-x: -327px;
@icon-icons-tech-sqlite-offset-y: -70px;
@icon-icons-tech-sqlite-width: 63px;
@icon-icons-tech-sqlite-height: 70px;
@icon-icons-tech-sqlite-total-width: 581px;
@icon-icons-tech-sqlite-total-height: 559px;
@icon-icons-tech-sqlite-image: '/assets/sprites-icons.png';
@icon-icons-tech-sqlite: 327px 70px -327px -70px 63px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-sqlite;
@icon-icons-tech-symfony2-name: icon-icons-tech-symfony2;
@icon-icons-tech-symfony2-x: 327px;
@icon-icons-tech-symfony2-y: 0px;
@icon-icons-tech-symfony2-offset-x: -327px;
@icon-icons-tech-symfony2-offset-y: 0px;
@icon-icons-tech-symfony2-width: 70px;
@icon-icons-tech-symfony2-height: 70px;
@icon-icons-tech-symfony2-total-width: 581px;
@icon-icons-tech-symfony2-total-height: 559px;
@icon-icons-tech-symfony2-image: '/assets/sprites-icons.png';
@icon-icons-tech-symfony2: 327px 0px -327px 0px 70px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-symfony2;
@icon-icons-tech-ubuntu-name: icon-icons-tech-ubuntu;
@icon-icons-tech-ubuntu-x: 128px;
@icon-icons-tech-ubuntu-y: 300px;
@icon-icons-tech-ubuntu-offset-x: -128px;
@icon-icons-tech-ubuntu-offset-y: -300px;
@icon-icons-tech-ubuntu-width: 70px;
@icon-icons-tech-ubuntu-height: 70px;
@icon-icons-tech-ubuntu-total-width: 581px;
@icon-icons-tech-ubuntu-total-height: 559px;
@icon-icons-tech-ubuntu-image: '/assets/sprites-icons.png';
@icon-icons-tech-ubuntu: 128px 300px -128px -300px 70px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-ubuntu;
@icon-icons-tech-unix-name: icon-icons-tech-unix;
@icon-icons-tech-unix-x: 70px;
@icon-icons-tech-unix-y: 300px;
@icon-icons-tech-unix-offset-x: -70px;
@icon-icons-tech-unix-offset-y: -300px;
@icon-icons-tech-unix-width: 58px;
@icon-icons-tech-unix-height: 70px;
@icon-icons-tech-unix-total-width: 581px;
@icon-icons-tech-unix-total-height: 559px;
@icon-icons-tech-unix-image: '/assets/sprites-icons.png';
@icon-icons-tech-unix: 70px 300px -70px -300px 58px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-unix;
@icon-icons-tech-vagrant-name: icon-icons-tech-vagrant;
@icon-icons-tech-vagrant-x: 327px;
@icon-icons-tech-vagrant-y: 210px;
@icon-icons-tech-vagrant-offset-x: -327px;
@icon-icons-tech-vagrant-offset-y: -210px;
@icon-icons-tech-vagrant-width: 69px;
@icon-icons-tech-vagrant-height: 70px;
@icon-icons-tech-vagrant-total-width: 581px;
@icon-icons-tech-vagrant-total-height: 559px;
@icon-icons-tech-vagrant-image: '/assets/sprites-icons.png';
@icon-icons-tech-vagrant: 327px 210px -327px -210px 69px 70px 581px 559px '/assets/sprites-icons.png' icon-icons-tech-vagrant;
@icon-icons-vk-mono-16-name: icon-icons-vk-mono-16;
@icon-icons-vk-mono-16-x: 276px;
@icon-icons-vk-mono-16-y: 469px;
@icon-icons-vk-mono-16-offset-x: -276px;
@icon-icons-vk-mono-16-offset-y: -469px;
@icon-icons-vk-mono-16-width: 16px;
@icon-icons-vk-mono-16-height: 16px;
@icon-icons-vk-mono-16-total-width: 581px;
@icon-icons-vk-mono-16-total-height: 559px;
@icon-icons-vk-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-vk-mono-16: 276px 469px -276px -469px 16px 16px 581px 559px '/assets/sprites-icons.png' icon-icons-vk-mono-16;
@icon-icons-vkontakte-16px-name: icon-icons-vkontakte-16px;
@icon-icons-vkontakte-16px-x: 215px;
@icon-icons-vkontakte-16px-y: 500px;
@icon-icons-vkontakte-16px-offset-x: -215px;
@icon-icons-vkontakte-16px-offset-y: -500px;
@icon-icons-vkontakte-16px-width: 16px;
@icon-icons-vkontakte-16px-height: 16px;
@icon-icons-vkontakte-16px-total-width: 581px;
@icon-icons-vkontakte-16px-total-height: 559px;
@icon-icons-vkontakte-16px-image: '/assets/sprites-icons.png';
@icon-icons-vkontakte-16px: 215px 500px -215px -500px 16px 16px 581px 559px '/assets/sprites-icons.png' icon-icons-vkontakte-16px;
@icon-icons-whatsapp-16px-name: icon-icons-whatsapp-16px;
@icon-icons-whatsapp-16px-x: 131px;
@icon-icons-whatsapp-16px-y: 529px;
@icon-icons-whatsapp-16px-offset-x: -131px;
@icon-icons-whatsapp-16px-offset-y: -529px;
@icon-icons-whatsapp-16px-width: 16px;
@icon-icons-whatsapp-16px-height: 16px;
@icon-icons-whatsapp-16px-total-width: 581px;
@icon-icons-whatsapp-16px-total-height: 559px;
@icon-icons-whatsapp-16px-image: '/assets/sprites-icons.png';
@icon-icons-whatsapp-16px: 131px 529px -131px -529px 16px 16px 581px 559px '/assets/sprites-icons.png' icon-icons-whatsapp-16px;
@spritesheet-width: 581px;
@spritesheet-height: 559px;
@spritesheet-image: '/assets/sprites-icons.png';
@spritesheet-sprites: @icon-icons-collegesuccess-300px @icon-icons-course-db-25px @icon-icons-course-devops-25px @icon-icons-course-html-25px @icon-icons-course-java-25px @icon-icons-course-js-25px @icon-icons-course-php-25px @icon-icons-course-qa-25px @icon-icons-course-ruby-25px @icon-icons-course-secutity-25px @icon-icons-course-sql-25px @icon-icons-facebook-mono-16 @icon-icons-github-16px @icon-icons-github-mono-16 @icon-icons-instagram-mono-16 @icon-icons-linkedin-16px @icon-icons-linkedin-mono-16 @icon-icons-mail-16px @icon-icons-skype-mono-16 @icon-icons-tech-angularjs @icon-icons-tech-backbone @icon-icons-tech-bash @icon-icons-tech-capistrano @icon-icons-tech-cassandra @icon-icons-tech-composer @icon-icons-tech-csharp @icon-icons-tech-css3 @icon-icons-tech-db @icon-icons-tech-dns @icon-icons-tech-docker @icon-icons-tech-git @icon-icons-tech-github @icon-icons-tech-heroku @icon-icons-tech-html5 @icon-icons-tech-http @icon-icons-tech-java @icon-icons-tech-jquery @icon-icons-tech-js @icon-icons-tech-mongodb @icon-icons-tech-mysql @icon-icons-tech-neo4j @icon-icons-tech-nodejs @icon-icons-tech-nosql @icon-icons-tech-php @icon-icons-tech-postgresql @icon-icons-tech-redis @icon-icons-tech-ruby-on-rails @icon-icons-tech-ruby @icon-icons-tech-silex @icon-icons-tech-sqlite @icon-icons-tech-symfony2 @icon-icons-tech-ubuntu @icon-icons-tech-unix @icon-icons-tech-vagrant @icon-icons-vk-mono-16 @icon-icons-vkontakte-16px @icon-icons-whatsapp-16px;
@spritesheet: 581px 559px '/assets/sprites-icons.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
