/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-icons-bag-cash-20px-name: icon-icons-bag-cash-20px;
@icon-icons-bag-cash-20px-x: 327px;
@icon-icons-bag-cash-20px-y: 280px;
@icon-icons-bag-cash-20px-offset-x: -327px;
@icon-icons-bag-cash-20px-offset-y: -280px;
@icon-icons-bag-cash-20px-width: 20px;
@icon-icons-bag-cash-20px-height: 20px;
@icon-icons-bag-cash-20px-total-width: 567px;
@icon-icons-bag-cash-20px-total-height: 555px;
@icon-icons-bag-cash-20px-image: '/assets/sprites-icons.png';
@icon-icons-bag-cash-20px: 327px 280px -327px -280px 20px 20px 567px 555px '/assets/sprites-icons.png' icon-icons-bag-cash-20px;
@icon-icons-chart-20px-name: icon-icons-chart-20px;
@icon-icons-chart-20px-x: 276px;
@icon-icons-chart-20px-y: 455px;
@icon-icons-chart-20px-offset-x: -276px;
@icon-icons-chart-20px-offset-y: -455px;
@icon-icons-chart-20px-width: 20px;
@icon-icons-chart-20px-height: 20px;
@icon-icons-chart-20px-total-width: 567px;
@icon-icons-chart-20px-total-height: 555px;
@icon-icons-chart-20px-image: '/assets/sprites-icons.png';
@icon-icons-chart-20px: 276px 455px -276px -455px 20px 20px 567px 555px '/assets/sprites-icons.png' icon-icons-chart-20px;
@icon-icons-collegesuccess-300px-name: icon-icons-collegesuccess-300px;
@icon-icons-collegesuccess-300px-x: 0px;
@icon-icons-collegesuccess-300px-y: 0px;
@icon-icons-collegesuccess-300px-offset-x: 0px;
@icon-icons-collegesuccess-300px-offset-y: 0px;
@icon-icons-collegesuccess-300px-width: 327px;
@icon-icons-collegesuccess-300px-height: 300px;
@icon-icons-collegesuccess-300px-total-width: 567px;
@icon-icons-collegesuccess-300px-total-height: 555px;
@icon-icons-collegesuccess-300px-image: '/assets/sprites-icons.png';
@icon-icons-collegesuccess-300px: 0px 0px 0px 0px 327px 300px 567px 555px '/assets/sprites-icons.png' icon-icons-collegesuccess-300px;
@icon-icons-course-db-25px-name: icon-icons-course-db-25px;
@icon-icons-course-db-25px-x: 310px;
@icon-icons-course-db-25px-y: 430px;
@icon-icons-course-db-25px-offset-x: -310px;
@icon-icons-course-db-25px-offset-y: -430px;
@icon-icons-course-db-25px-width: 25px;
@icon-icons-course-db-25px-height: 24px;
@icon-icons-course-db-25px-total-width: 567px;
@icon-icons-course-db-25px-total-height: 555px;
@icon-icons-course-db-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-db-25px: 310px 430px -310px -430px 25px 24px 567px 555px '/assets/sprites-icons.png' icon-icons-course-db-25px;
@icon-icons-course-devops-25px-name: icon-icons-course-devops-25px;
@icon-icons-course-devops-25px-x: 524px;
@icon-icons-course-devops-25px-y: 25px;
@icon-icons-course-devops-25px-offset-x: -524px;
@icon-icons-course-devops-25px-offset-y: -25px;
@icon-icons-course-devops-25px-width: 25px;
@icon-icons-course-devops-25px-height: 25px;
@icon-icons-course-devops-25px-total-width: 567px;
@icon-icons-course-devops-25px-total-height: 555px;
@icon-icons-course-devops-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-devops-25px: 524px 25px -524px -25px 25px 25px 567px 555px '/assets/sprites-icons.png' icon-icons-course-devops-25px;
@icon-icons-course-html-25px-name: icon-icons-course-html-25px;
@icon-icons-course-html-25px-x: 285px;
@icon-icons-course-html-25px-y: 430px;
@icon-icons-course-html-25px-offset-x: -285px;
@icon-icons-course-html-25px-offset-y: -430px;
@icon-icons-course-html-25px-width: 25px;
@icon-icons-course-html-25px-height: 25px;
@icon-icons-course-html-25px-total-width: 567px;
@icon-icons-course-html-25px-total-height: 555px;
@icon-icons-course-html-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-html-25px: 285px 430px -285px -430px 25px 25px 567px 555px '/assets/sprites-icons.png' icon-icons-course-html-25px;
@icon-icons-course-java-25px-name: icon-icons-course-java-25px;
@icon-icons-course-java-25px-x: 461px;
@icon-icons-course-java-25px-y: 244px;
@icon-icons-course-java-25px-offset-x: -461px;
@icon-icons-course-java-25px-offset-y: -244px;
@icon-icons-course-java-25px-width: 25px;
@icon-icons-course-java-25px-height: 25px;
@icon-icons-course-java-25px-total-width: 567px;
@icon-icons-course-java-25px-total-height: 555px;
@icon-icons-course-java-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-java-25px: 461px 244px -461px -244px 25px 25px 567px 555px '/assets/sprites-icons.png' icon-icons-course-java-25px;
@icon-icons-course-js-25px-name: icon-icons-course-js-25px;
@icon-icons-course-js-25px-x: 345px;
@icon-icons-course-js-25px-y: 400px;
@icon-icons-course-js-25px-offset-x: -345px;
@icon-icons-course-js-25px-offset-y: -400px;
@icon-icons-course-js-25px-width: 25px;
@icon-icons-course-js-25px-height: 25px;
@icon-icons-course-js-25px-total-width: 567px;
@icon-icons-course-js-25px-total-height: 555px;
@icon-icons-course-js-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-js-25px: 345px 400px -345px -400px 25px 25px 567px 555px '/assets/sprites-icons.png' icon-icons-course-js-25px;
@icon-icons-course-php-25px-name: icon-icons-course-php-25px;
@icon-icons-course-php-25px-x: 165px;
@icon-icons-course-php-25px-y: 501px;
@icon-icons-course-php-25px-offset-x: -165px;
@icon-icons-course-php-25px-offset-y: -501px;
@icon-icons-course-php-25px-width: 25px;
@icon-icons-course-php-25px-height: 25px;
@icon-icons-course-php-25px-total-width: 567px;
@icon-icons-course-php-25px-total-height: 555px;
@icon-icons-course-php-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-php-25px: 165px 501px -165px -501px 25px 25px 567px 555px '/assets/sprites-icons.png' icon-icons-course-php-25px;
@icon-icons-course-qa-25px-name: icon-icons-course-qa-25px;
@icon-icons-course-qa-25px-x: 524px;
@icon-icons-course-qa-25px-y: 0px;
@icon-icons-course-qa-25px-offset-x: -524px;
@icon-icons-course-qa-25px-offset-y: 0px;
@icon-icons-course-qa-25px-width: 25px;
@icon-icons-course-qa-25px-height: 25px;
@icon-icons-course-qa-25px-total-width: 567px;
@icon-icons-course-qa-25px-total-height: 555px;
@icon-icons-course-qa-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-qa-25px: 524px 0px -524px 0px 25px 25px 567px 555px '/assets/sprites-icons.png' icon-icons-course-qa-25px;
@icon-icons-course-ruby-25px-name: icon-icons-course-ruby-25px;
@icon-icons-course-ruby-25px-x: 497px;
@icon-icons-course-ruby-25px-y: 166px;
@icon-icons-course-ruby-25px-offset-x: -497px;
@icon-icons-course-ruby-25px-offset-y: -166px;
@icon-icons-course-ruby-25px-width: 25px;
@icon-icons-course-ruby-25px-height: 25px;
@icon-icons-course-ruby-25px-total-width: 567px;
@icon-icons-course-ruby-25px-total-height: 555px;
@icon-icons-course-ruby-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-ruby-25px: 497px 166px -497px -166px 25px 25px 567px 555px '/assets/sprites-icons.png' icon-icons-course-ruby-25px;
@icon-icons-course-secutity-25px-name: icon-icons-course-secutity-25px;
@icon-icons-course-secutity-25px-x: 140px;
@icon-icons-course-secutity-25px-y: 501px;
@icon-icons-course-secutity-25px-offset-x: -140px;
@icon-icons-course-secutity-25px-offset-y: -501px;
@icon-icons-course-secutity-25px-width: 25px;
@icon-icons-course-secutity-25px-height: 25px;
@icon-icons-course-secutity-25px-total-width: 567px;
@icon-icons-course-secutity-25px-total-height: 555px;
@icon-icons-course-secutity-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-secutity-25px: 140px 501px -140px -501px 25px 25px 567px 555px '/assets/sprites-icons.png' icon-icons-course-secutity-25px;
@icon-icons-course-sql-25px-name: icon-icons-course-sql-25px;
@icon-icons-course-sql-25px-x: 423px;
@icon-icons-course-sql-25px-y: 312px;
@icon-icons-course-sql-25px-offset-x: -423px;
@icon-icons-course-sql-25px-offset-y: -312px;
@icon-icons-course-sql-25px-width: 23px;
@icon-icons-course-sql-25px-height: 25px;
@icon-icons-course-sql-25px-total-width: 567px;
@icon-icons-course-sql-25px-total-height: 555px;
@icon-icons-course-sql-25px-image: '/assets/sprites-icons.png';
@icon-icons-course-sql-25px: 423px 312px -423px -312px 23px 25px 567px 555px '/assets/sprites-icons.png' icon-icons-course-sql-25px;
@icon-icons-facebook-mono-16-name: icon-icons-facebook-mono-16;
@icon-icons-facebook-mono-16-x: 70px;
@icon-icons-facebook-mono-16-y: 539px;
@icon-icons-facebook-mono-16-offset-x: -70px;
@icon-icons-facebook-mono-16-offset-y: -539px;
@icon-icons-facebook-mono-16-width: 16px;
@icon-icons-facebook-mono-16-height: 16px;
@icon-icons-facebook-mono-16-total-width: 567px;
@icon-icons-facebook-mono-16-total-height: 555px;
@icon-icons-facebook-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-facebook-mono-16: 70px 539px -70px -539px 16px 16px 567px 555px '/assets/sprites-icons.png' icon-icons-facebook-mono-16;
@icon-icons-github-16px-name: icon-icons-github-16px;
@icon-icons-github-16px-x: 222px;
@icon-icons-github-16px-y: 496px;
@icon-icons-github-16px-offset-x: -222px;
@icon-icons-github-16px-offset-y: -496px;
@icon-icons-github-16px-width: 16px;
@icon-icons-github-16px-height: 16px;
@icon-icons-github-16px-total-width: 567px;
@icon-icons-github-16px-total-height: 555px;
@icon-icons-github-16px-image: '/assets/sprites-icons.png';
@icon-icons-github-16px: 222px 496px -222px -496px 16px 16px 567px 555px '/assets/sprites-icons.png' icon-icons-github-16px;
@icon-icons-github-mono-16-name: icon-icons-github-mono-16;
@icon-icons-github-mono-16-x: 528px;
@icon-icons-github-mono-16-y: 70px;
@icon-icons-github-mono-16-offset-x: -528px;
@icon-icons-github-mono-16-offset-y: -70px;
@icon-icons-github-mono-16-width: 16px;
@icon-icons-github-mono-16-height: 16px;
@icon-icons-github-mono-16-total-width: 567px;
@icon-icons-github-mono-16-total-height: 555px;
@icon-icons-github-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-github-mono-16: 528px 70px -528px -70px 16px 16px 567px 555px '/assets/sprites-icons.png' icon-icons-github-mono-16;
@icon-icons-instagram-mono-16-name: icon-icons-instagram-mono-16;
@icon-icons-instagram-mono-16-x: 528px;
@icon-icons-instagram-mono-16-y: 102px;
@icon-icons-instagram-mono-16-offset-x: -528px;
@icon-icons-instagram-mono-16-offset-y: -102px;
@icon-icons-instagram-mono-16-width: 16px;
@icon-icons-instagram-mono-16-height: 16px;
@icon-icons-instagram-mono-16-total-width: 567px;
@icon-icons-instagram-mono-16-total-height: 555px;
@icon-icons-instagram-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-instagram-mono-16: 528px 102px -528px -102px 16px 16px 567px 555px '/assets/sprites-icons.png' icon-icons-instagram-mono-16;
@icon-icons-linkedin-16px-name: icon-icons-linkedin-16px;
@icon-icons-linkedin-16px-x: 206px;
@icon-icons-linkedin-16px-y: 496px;
@icon-icons-linkedin-16px-offset-x: -206px;
@icon-icons-linkedin-16px-offset-y: -496px;
@icon-icons-linkedin-16px-width: 16px;
@icon-icons-linkedin-16px-height: 16px;
@icon-icons-linkedin-16px-total-width: 567px;
@icon-icons-linkedin-16px-total-height: 555px;
@icon-icons-linkedin-16px-image: '/assets/sprites-icons.png';
@icon-icons-linkedin-16px: 206px 496px -206px -496px 16px 16px 567px 555px '/assets/sprites-icons.png' icon-icons-linkedin-16px;
@icon-icons-linkedin-mono-16-name: icon-icons-linkedin-mono-16;
@icon-icons-linkedin-mono-16-x: 190px;
@icon-icons-linkedin-mono-16-y: 501px;
@icon-icons-linkedin-mono-16-offset-x: -190px;
@icon-icons-linkedin-mono-16-offset-y: -501px;
@icon-icons-linkedin-mono-16-width: 16px;
@icon-icons-linkedin-mono-16-height: 16px;
@icon-icons-linkedin-mono-16-total-width: 567px;
@icon-icons-linkedin-mono-16-total-height: 555px;
@icon-icons-linkedin-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-linkedin-mono-16: 190px 501px -190px -501px 16px 16px 567px 555px '/assets/sprites-icons.png' icon-icons-linkedin-mono-16;
@icon-icons-mail-16px-name: icon-icons-mail-16px;
@icon-icons-mail-16px-x: 296px;
@icon-icons-mail-16px-y: 455px;
@icon-icons-mail-16px-offset-x: -296px;
@icon-icons-mail-16px-offset-y: -455px;
@icon-icons-mail-16px-width: 16px;
@icon-icons-mail-16px-height: 16px;
@icon-icons-mail-16px-total-width: 567px;
@icon-icons-mail-16px-total-height: 555px;
@icon-icons-mail-16px-image: '/assets/sprites-icons.png';
@icon-icons-mail-16px: 296px 455px -296px -455px 16px 16px 567px 555px '/assets/sprites-icons.png' icon-icons-mail-16px;
@icon-icons-salesman-20px-name: icon-icons-salesman-20px;
@icon-icons-salesman-20px-x: 524px;
@icon-icons-salesman-20px-y: 50px;
@icon-icons-salesman-20px-offset-x: -524px;
@icon-icons-salesman-20px-offset-y: -50px;
@icon-icons-salesman-20px-width: 20px;
@icon-icons-salesman-20px-height: 20px;
@icon-icons-salesman-20px-total-width: 567px;
@icon-icons-salesman-20px-total-height: 555px;
@icon-icons-salesman-20px-image: '/assets/sprites-icons.png';
@icon-icons-salesman-20px: 524px 50px -524px -50px 20px 20px 567px 555px '/assets/sprites-icons.png' icon-icons-salesman-20px;
@icon-icons-skype-mono-16-name: icon-icons-skype-mono-16;
@icon-icons-skype-mono-16-x: 528px;
@icon-icons-skype-mono-16-y: 86px;
@icon-icons-skype-mono-16-offset-x: -528px;
@icon-icons-skype-mono-16-offset-y: -86px;
@icon-icons-skype-mono-16-width: 16px;
@icon-icons-skype-mono-16-height: 16px;
@icon-icons-skype-mono-16-total-width: 567px;
@icon-icons-skype-mono-16-total-height: 555px;
@icon-icons-skype-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-skype-mono-16: 528px 86px -528px -86px 16px 16px 567px 555px '/assets/sprites-icons.png' icon-icons-skype-mono-16;
@icon-icons-tech-angularjs-name: icon-icons-tech-angularjs;
@icon-icons-tech-angularjs-x: 0px;
@icon-icons-tech-angularjs-y: 440px;
@icon-icons-tech-angularjs-offset-x: 0px;
@icon-icons-tech-angularjs-offset-y: -440px;
@icon-icons-tech-angularjs-width: 66px;
@icon-icons-tech-angularjs-height: 70px;
@icon-icons-tech-angularjs-total-width: 567px;
@icon-icons-tech-angularjs-total-height: 555px;
@icon-icons-tech-angularjs-image: '/assets/sprites-icons.png';
@icon-icons-tech-angularjs: 0px 440px 0px -440px 66px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-angularjs;
@icon-icons-tech-backbone-name: icon-icons-tech-backbone;
@icon-icons-tech-backbone-x: 303px;
@icon-icons-tech-backbone-y: 300px;
@icon-icons-tech-backbone-offset-x: -303px;
@icon-icons-tech-backbone-offset-y: -300px;
@icon-icons-tech-backbone-width: 56px;
@icon-icons-tech-backbone-height: 70px;
@icon-icons-tech-backbone-total-width: 567px;
@icon-icons-tech-backbone-total-height: 555px;
@icon-icons-tech-backbone-image: '/assets/sprites-icons.png';
@icon-icons-tech-backbone: 303px 300px -303px -300px 56px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-backbone;
@icon-icons-tech-bash-name: icon-icons-tech-bash;
@icon-icons-tech-bash-x: 285px;
@icon-icons-tech-bash-y: 370px;
@icon-icons-tech-bash-offset-x: -285px;
@icon-icons-tech-bash-offset-y: -370px;
@icon-icons-tech-bash-width: 60px;
@icon-icons-tech-bash-height: 60px;
@icon-icons-tech-bash-total-width: 567px;
@icon-icons-tech-bash-total-height: 555px;
@icon-icons-tech-bash-image: '/assets/sprites-icons.png';
@icon-icons-tech-bash: 285px 370px -285px -370px 60px 60px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-bash;
@icon-icons-tech-capistrano-name: icon-icons-tech-capistrano;
@icon-icons-tech-capistrano-x: 0px;
@icon-icons-tech-capistrano-y: 370px;
@icon-icons-tech-capistrano-offset-x: 0px;
@icon-icons-tech-capistrano-offset-y: -370px;
@icon-icons-tech-capistrano-width: 70px;
@icon-icons-tech-capistrano-height: 70px;
@icon-icons-tech-capistrano-total-width: 567px;
@icon-icons-tech-capistrano-total-height: 555px;
@icon-icons-tech-capistrano-image: '/assets/sprites-icons.png';
@icon-icons-tech-capistrano: 0px 370px 0px -370px 70px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-capistrano;
@icon-icons-tech-cassandra-name: icon-icons-tech-cassandra;
@icon-icons-tech-cassandra-x: 423px;
@icon-icons-tech-cassandra-y: 275px;
@icon-icons-tech-cassandra-offset-x: -423px;
@icon-icons-tech-cassandra-offset-y: -275px;
@icon-icons-tech-cassandra-width: 70px;
@icon-icons-tech-cassandra-height: 37px;
@icon-icons-tech-cassandra-total-width: 567px;
@icon-icons-tech-cassandra-total-height: 555px;
@icon-icons-tech-cassandra-image: '/assets/sprites-icons.png';
@icon-icons-tech-cassandra: 423px 275px -423px -275px 70px 37px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-cassandra;
@icon-icons-tech-composer-name: icon-icons-tech-composer;
@icon-icons-tech-composer-x: 70px;
@icon-icons-tech-composer-y: 300px;
@icon-icons-tech-composer-offset-x: -70px;
@icon-icons-tech-composer-offset-y: -300px;
@icon-icons-tech-composer-width: 53px;
@icon-icons-tech-composer-height: 70px;
@icon-icons-tech-composer-total-width: 567px;
@icon-icons-tech-composer-total-height: 555px;
@icon-icons-tech-composer-image: '/assets/sprites-icons.png';
@icon-icons-tech-composer: 70px 300px -70px -300px 53px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-composer;
@icon-icons-tech-csharp-name: icon-icons-tech-csharp;
@icon-icons-tech-csharp-x: 66px;
@icon-icons-tech-csharp-y: 440px;
@icon-icons-tech-csharp-offset-x: -66px;
@icon-icons-tech-csharp-offset-y: -440px;
@icon-icons-tech-csharp-width: 70px;
@icon-icons-tech-csharp-height: 70px;
@icon-icons-tech-csharp-total-width: 567px;
@icon-icons-tech-csharp-total-height: 555px;
@icon-icons-tech-csharp-image: '/assets/sprites-icons.png';
@icon-icons-tech-csharp: 66px 440px -66px -440px 70px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-csharp;
@icon-icons-tech-css3-name: icon-icons-tech-css3;
@icon-icons-tech-css3-x: 178px;
@icon-icons-tech-css3-y: 370px;
@icon-icons-tech-css3-offset-x: -178px;
@icon-icons-tech-css3-offset-y: -370px;
@icon-icons-tech-css3-width: 50px;
@icon-icons-tech-css3-height: 70px;
@icon-icons-tech-css3-total-width: 567px;
@icon-icons-tech-css3-total-height: 555px;
@icon-icons-tech-css3-image: '/assets/sprites-icons.png';
@icon-icons-tech-css3: 178px 370px -178px -370px 50px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-css3;
@icon-icons-tech-db-name: icon-icons-tech-db;
@icon-icons-tech-db-x: 178px;
@icon-icons-tech-db-y: 300px;
@icon-icons-tech-db-offset-x: -178px;
@icon-icons-tech-db-offset-y: -300px;
@icon-icons-tech-db-width: 64px;
@icon-icons-tech-db-height: 70px;
@icon-icons-tech-db-total-width: 567px;
@icon-icons-tech-db-total-height: 555px;
@icon-icons-tech-db-image: '/assets/sprites-icons.png';
@icon-icons-tech-db: 178px 300px -178px -300px 64px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-db;
@icon-icons-tech-dns-name: icon-icons-tech-dns;
@icon-icons-tech-dns-x: 433px;
@icon-icons-tech-dns-y: 140px;
@icon-icons-tech-dns-offset-x: -433px;
@icon-icons-tech-dns-offset-y: -140px;
@icon-icons-tech-dns-width: 64px;
@icon-icons-tech-dns-height: 64px;
@icon-icons-tech-dns-total-width: 567px;
@icon-icons-tech-dns-total-height: 555px;
@icon-icons-tech-dns-image: '/assets/sprites-icons.png';
@icon-icons-tech-dns: 433px 140px -433px -140px 64px 64px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-dns;
@icon-icons-tech-docker-name: icon-icons-tech-docker;
@icon-icons-tech-docker-x: 461px;
@icon-icons-tech-docker-y: 204px;
@icon-icons-tech-docker-offset-x: -461px;
@icon-icons-tech-docker-offset-y: -204px;
@icon-icons-tech-docker-width: 70px;
@icon-icons-tech-docker-height: 40px;
@icon-icons-tech-docker-total-width: 567px;
@icon-icons-tech-docker-total-height: 555px;
@icon-icons-tech-docker-image: '/assets/sprites-icons.png';
@icon-icons-tech-docker: 461px 204px -461px -204px 70px 40px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-docker;
@icon-icons-tech-git-name: icon-icons-tech-git;
@icon-icons-tech-git-x: 70px;
@icon-icons-tech-git-y: 510px;
@icon-icons-tech-git-offset-x: -70px;
@icon-icons-tech-git-offset-y: -510px;
@icon-icons-tech-git-width: 70px;
@icon-icons-tech-git-height: 29px;
@icon-icons-tech-git-total-width: 567px;
@icon-icons-tech-git-total-height: 555px;
@icon-icons-tech-git-image: '/assets/sprites-icons.png';
@icon-icons-tech-git: 70px 510px -70px -510px 70px 29px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-git;
@icon-icons-tech-heroku-name: icon-icons-tech-heroku;
@icon-icons-tech-heroku-x: 242px;
@icon-icons-tech-heroku-y: 300px;
@icon-icons-tech-heroku-offset-x: -242px;
@icon-icons-tech-heroku-offset-y: -300px;
@icon-icons-tech-heroku-width: 61px;
@icon-icons-tech-heroku-height: 70px;
@icon-icons-tech-heroku-total-width: 567px;
@icon-icons-tech-heroku-total-height: 555px;
@icon-icons-tech-heroku-image: '/assets/sprites-icons.png';
@icon-icons-tech-heroku: 242px 300px -242px -300px 61px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-heroku;
@icon-icons-tech-html5-name: icon-icons-tech-html5;
@icon-icons-tech-html5-x: 70px;
@icon-icons-tech-html5-y: 370px;
@icon-icons-tech-html5-offset-x: -70px;
@icon-icons-tech-html5-offset-y: -370px;
@icon-icons-tech-html5-width: 50px;
@icon-icons-tech-html5-height: 70px;
@icon-icons-tech-html5-total-width: 567px;
@icon-icons-tech-html5-total-height: 555px;
@icon-icons-tech-html5-image: '/assets/sprites-icons.png';
@icon-icons-tech-html5: 70px 370px -70px -370px 50px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-html5;
@icon-icons-tech-http-name: icon-icons-tech-http;
@icon-icons-tech-http-x: 359px;
@icon-icons-tech-http-y: 280px;
@icon-icons-tech-http-offset-x: -359px;
@icon-icons-tech-http-offset-y: -280px;
@icon-icons-tech-http-width: 64px;
@icon-icons-tech-http-height: 64px;
@icon-icons-tech-http-total-width: 567px;
@icon-icons-tech-http-total-height: 555px;
@icon-icons-tech-http-image: '/assets/sprites-icons.png';
@icon-icons-tech-http: 359px 280px -359px -280px 64px 64px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-http;
@icon-icons-tech-java-name: icon-icons-tech-java;
@icon-icons-tech-java-x: 327px;
@icon-icons-tech-java-y: 140px;
@icon-icons-tech-java-offset-x: -327px;
@icon-icons-tech-java-offset-y: -140px;
@icon-icons-tech-java-width: 38px;
@icon-icons-tech-java-height: 70px;
@icon-icons-tech-java-total-width: 567px;
@icon-icons-tech-java-total-height: 555px;
@icon-icons-tech-java-image: '/assets/sprites-icons.png';
@icon-icons-tech-java: 327px 140px -327px -140px 38px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-java;
@icon-icons-tech-jquery-name: icon-icons-tech-jquery;
@icon-icons-tech-jquery-x: 460px;
@icon-icons-tech-jquery-y: 0px;
@icon-icons-tech-jquery-offset-x: -460px;
@icon-icons-tech-jquery-offset-y: 0px;
@icon-icons-tech-jquery-width: 64px;
@icon-icons-tech-jquery-height: 64px;
@icon-icons-tech-jquery-total-width: 567px;
@icon-icons-tech-jquery-total-height: 555px;
@icon-icons-tech-jquery-image: '/assets/sprites-icons.png';
@icon-icons-tech-jquery: 460px 0px -460px 0px 64px 64px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-jquery;
@icon-icons-tech-js-name: icon-icons-tech-js;
@icon-icons-tech-js-x: 327px;
@icon-icons-tech-js-y: 70px;
@icon-icons-tech-js-offset-x: -327px;
@icon-icons-tech-js-offset-y: -70px;
@icon-icons-tech-js-width: 61px;
@icon-icons-tech-js-height: 70px;
@icon-icons-tech-js-total-width: 567px;
@icon-icons-tech-js-total-height: 555px;
@icon-icons-tech-js-image: '/assets/sprites-icons.png';
@icon-icons-tech-js: 327px 70px -327px -70px 61px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-js;
@icon-icons-tech-mongodb-name: icon-icons-tech-mongodb;
@icon-icons-tech-mongodb-x: 327px;
@icon-icons-tech-mongodb-y: 0px;
@icon-icons-tech-mongodb-offset-x: -327px;
@icon-icons-tech-mongodb-offset-y: 0px;
@icon-icons-tech-mongodb-width: 70px;
@icon-icons-tech-mongodb-height: 70px;
@icon-icons-tech-mongodb-total-width: 567px;
@icon-icons-tech-mongodb-total-height: 555px;
@icon-icons-tech-mongodb-image: '/assets/sprites-icons.png';
@icon-icons-tech-mongodb: 327px 0px -327px 0px 70px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-mongodb;
@icon-icons-tech-mysql-name: icon-icons-tech-mysql;
@icon-icons-tech-mysql-x: 497px;
@icon-icons-tech-mysql-y: 130px;
@icon-icons-tech-mysql-offset-x: -497px;
@icon-icons-tech-mysql-offset-y: -130px;
@icon-icons-tech-mysql-width: 70px;
@icon-icons-tech-mysql-height: 36px;
@icon-icons-tech-mysql-total-width: 567px;
@icon-icons-tech-mysql-total-height: 555px;
@icon-icons-tech-mysql-image: '/assets/sprites-icons.png';
@icon-icons-tech-mysql: 497px 130px -497px -130px 70px 36px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-mysql;
@icon-icons-tech-neo4j-name: icon-icons-tech-neo4j;
@icon-icons-tech-neo4j-x: 123px;
@icon-icons-tech-neo4j-y: 300px;
@icon-icons-tech-neo4j-offset-x: -123px;
@icon-icons-tech-neo4j-offset-y: -300px;
@icon-icons-tech-neo4j-width: 55px;
@icon-icons-tech-neo4j-height: 70px;
@icon-icons-tech-neo4j-total-width: 567px;
@icon-icons-tech-neo4j-total-height: 555px;
@icon-icons-tech-neo4j-image: '/assets/sprites-icons.png';
@icon-icons-tech-neo4j: 123px 300px -123px -300px 55px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-neo4j;
@icon-icons-tech-nodejs-name: icon-icons-tech-nodejs;
@icon-icons-tech-nodejs-x: 396px;
@icon-icons-tech-nodejs-y: 210px;
@icon-icons-tech-nodejs-offset-x: -396px;
@icon-icons-tech-nodejs-offset-y: -210px;
@icon-icons-tech-nodejs-width: 65px;
@icon-icons-tech-nodejs-height: 65px;
@icon-icons-tech-nodejs-total-width: 567px;
@icon-icons-tech-nodejs-total-height: 555px;
@icon-icons-tech-nodejs-image: '/assets/sprites-icons.png';
@icon-icons-tech-nodejs: 396px 210px -396px -210px 65px 65px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-nodejs;
@icon-icons-tech-nosql-name: icon-icons-tech-nosql;
@icon-icons-tech-nosql-x: 206px;
@icon-icons-tech-nosql-y: 440px;
@icon-icons-tech-nosql-offset-x: -206px;
@icon-icons-tech-nosql-offset-y: -440px;
@icon-icons-tech-nosql-width: 70px;
@icon-icons-tech-nosql-height: 56px;
@icon-icons-tech-nosql-total-width: 567px;
@icon-icons-tech-nosql-total-height: 555px;
@icon-icons-tech-nosql-image: '/assets/sprites-icons.png';
@icon-icons-tech-nosql: 206px 440px -206px -440px 70px 56px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-nosql;
@icon-icons-tech-php-name: icon-icons-tech-php;
@icon-icons-tech-php-x: 0px;
@icon-icons-tech-php-y: 510px;
@icon-icons-tech-php-offset-x: 0px;
@icon-icons-tech-php-offset-y: -510px;
@icon-icons-tech-php-width: 70px;
@icon-icons-tech-php-height: 37px;
@icon-icons-tech-php-total-width: 567px;
@icon-icons-tech-php-total-height: 555px;
@icon-icons-tech-php-image: '/assets/sprites-icons.png';
@icon-icons-tech-php: 0px 510px 0px -510px 70px 37px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-php;
@icon-icons-tech-postgresql-name: icon-icons-tech-postgresql;
@icon-icons-tech-postgresql-x: 365px;
@icon-icons-tech-postgresql-y: 140px;
@icon-icons-tech-postgresql-offset-x: -365px;
@icon-icons-tech-postgresql-offset-y: -140px;
@icon-icons-tech-postgresql-width: 68px;
@icon-icons-tech-postgresql-height: 70px;
@icon-icons-tech-postgresql-total-width: 567px;
@icon-icons-tech-postgresql-total-height: 555px;
@icon-icons-tech-postgresql-image: '/assets/sprites-icons.png';
@icon-icons-tech-postgresql: 365px 140px -365px -140px 68px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-postgresql;
@icon-icons-tech-redis-name: icon-icons-tech-redis;
@icon-icons-tech-redis-x: 458px;
@icon-icons-tech-redis-y: 70px;
@icon-icons-tech-redis-offset-x: -458px;
@icon-icons-tech-redis-offset-y: -70px;
@icon-icons-tech-redis-width: 70px;
@icon-icons-tech-redis-height: 60px;
@icon-icons-tech-redis-total-width: 567px;
@icon-icons-tech-redis-total-height: 555px;
@icon-icons-tech-redis-image: '/assets/sprites-icons.png';
@icon-icons-tech-redis: 458px 70px -458px -70px 70px 60px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-redis;
@icon-icons-tech-ruby-on-rails-name: icon-icons-tech-ruby-on-rails;
@icon-icons-tech-ruby-on-rails-x: 228px;
@icon-icons-tech-ruby-on-rails-y: 370px;
@icon-icons-tech-ruby-on-rails-offset-x: -228px;
@icon-icons-tech-ruby-on-rails-offset-y: -370px;
@icon-icons-tech-ruby-on-rails-width: 57px;
@icon-icons-tech-ruby-on-rails-height: 70px;
@icon-icons-tech-ruby-on-rails-total-width: 567px;
@icon-icons-tech-ruby-on-rails-total-height: 555px;
@icon-icons-tech-ruby-on-rails-image: '/assets/sprites-icons.png';
@icon-icons-tech-ruby-on-rails: 228px 370px -228px -370px 57px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-ruby-on-rails;
@icon-icons-tech-ruby-name: icon-icons-tech-ruby;
@icon-icons-tech-ruby-x: 136px;
@icon-icons-tech-ruby-y: 440px;
@icon-icons-tech-ruby-offset-x: -136px;
@icon-icons-tech-ruby-offset-y: -440px;
@icon-icons-tech-ruby-width: 70px;
@icon-icons-tech-ruby-height: 61px;
@icon-icons-tech-ruby-total-width: 567px;
@icon-icons-tech-ruby-total-height: 555px;
@icon-icons-tech-ruby-image: '/assets/sprites-icons.png';
@icon-icons-tech-ruby: 136px 440px -136px -440px 70px 61px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-ruby;
@icon-icons-tech-silex-name: icon-icons-tech-silex;
@icon-icons-tech-silex-x: 359px;
@icon-icons-tech-silex-y: 344px;
@icon-icons-tech-silex-offset-x: -359px;
@icon-icons-tech-silex-offset-y: -344px;
@icon-icons-tech-silex-width: 70px;
@icon-icons-tech-silex-height: 56px;
@icon-icons-tech-silex-total-width: 567px;
@icon-icons-tech-silex-total-height: 555px;
@icon-icons-tech-silex-image: '/assets/sprites-icons.png';
@icon-icons-tech-silex: 359px 344px -359px -344px 70px 56px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-silex;
@icon-icons-tech-sqlite-name: icon-icons-tech-sqlite;
@icon-icons-tech-sqlite-x: 397px;
@icon-icons-tech-sqlite-y: 0px;
@icon-icons-tech-sqlite-offset-x: -397px;
@icon-icons-tech-sqlite-offset-y: 0px;
@icon-icons-tech-sqlite-width: 63px;
@icon-icons-tech-sqlite-height: 70px;
@icon-icons-tech-sqlite-total-width: 567px;
@icon-icons-tech-sqlite-total-height: 555px;
@icon-icons-tech-sqlite-image: '/assets/sprites-icons.png';
@icon-icons-tech-sqlite: 397px 0px -397px 0px 63px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-sqlite;
@icon-icons-tech-symfony2-name: icon-icons-tech-symfony2;
@icon-icons-tech-symfony2-x: 388px;
@icon-icons-tech-symfony2-y: 70px;
@icon-icons-tech-symfony2-offset-x: -388px;
@icon-icons-tech-symfony2-offset-y: -70px;
@icon-icons-tech-symfony2-width: 70px;
@icon-icons-tech-symfony2-height: 70px;
@icon-icons-tech-symfony2-total-width: 567px;
@icon-icons-tech-symfony2-total-height: 555px;
@icon-icons-tech-symfony2-image: '/assets/sprites-icons.png';
@icon-icons-tech-symfony2: 388px 70px -388px -70px 70px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-symfony2;
@icon-icons-tech-ubuntu-name: icon-icons-tech-ubuntu;
@icon-icons-tech-ubuntu-x: 0px;
@icon-icons-tech-ubuntu-y: 300px;
@icon-icons-tech-ubuntu-offset-x: 0px;
@icon-icons-tech-ubuntu-offset-y: -300px;
@icon-icons-tech-ubuntu-width: 70px;
@icon-icons-tech-ubuntu-height: 70px;
@icon-icons-tech-ubuntu-total-width: 567px;
@icon-icons-tech-ubuntu-total-height: 555px;
@icon-icons-tech-ubuntu-image: '/assets/sprites-icons.png';
@icon-icons-tech-ubuntu: 0px 300px 0px -300px 70px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-ubuntu;
@icon-icons-tech-unix-name: icon-icons-tech-unix;
@icon-icons-tech-unix-x: 120px;
@icon-icons-tech-unix-y: 370px;
@icon-icons-tech-unix-offset-x: -120px;
@icon-icons-tech-unix-offset-y: -370px;
@icon-icons-tech-unix-width: 58px;
@icon-icons-tech-unix-height: 70px;
@icon-icons-tech-unix-total-width: 567px;
@icon-icons-tech-unix-total-height: 555px;
@icon-icons-tech-unix-image: '/assets/sprites-icons.png';
@icon-icons-tech-unix: 120px 370px -120px -370px 58px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-unix;
@icon-icons-tech-vagrant-name: icon-icons-tech-vagrant;
@icon-icons-tech-vagrant-x: 327px;
@icon-icons-tech-vagrant-y: 210px;
@icon-icons-tech-vagrant-offset-x: -327px;
@icon-icons-tech-vagrant-offset-y: -210px;
@icon-icons-tech-vagrant-width: 69px;
@icon-icons-tech-vagrant-height: 70px;
@icon-icons-tech-vagrant-total-width: 567px;
@icon-icons-tech-vagrant-total-height: 555px;
@icon-icons-tech-vagrant-image: '/assets/sprites-icons.png';
@icon-icons-tech-vagrant: 327px 210px -327px -210px 69px 70px 567px 555px '/assets/sprites-icons.png' icon-icons-tech-vagrant;
@icon-icons-vk-mono-16-name: icon-icons-vk-mono-16;
@icon-icons-vk-mono-16-x: 486px;
@icon-icons-vk-mono-16-y: 244px;
@icon-icons-vk-mono-16-offset-x: -486px;
@icon-icons-vk-mono-16-offset-y: -244px;
@icon-icons-vk-mono-16-width: 16px;
@icon-icons-vk-mono-16-height: 16px;
@icon-icons-vk-mono-16-total-width: 567px;
@icon-icons-vk-mono-16-total-height: 555px;
@icon-icons-vk-mono-16-image: '/assets/sprites-icons.png';
@icon-icons-vk-mono-16: 486px 244px -486px -244px 16px 16px 567px 555px '/assets/sprites-icons.png' icon-icons-vk-mono-16;
@icon-icons-vkontakte-16px-name: icon-icons-vkontakte-16px;
@icon-icons-vkontakte-16px-x: 446px;
@icon-icons-vkontakte-16px-y: 312px;
@icon-icons-vkontakte-16px-offset-x: -446px;
@icon-icons-vkontakte-16px-offset-y: -312px;
@icon-icons-vkontakte-16px-width: 16px;
@icon-icons-vkontakte-16px-height: 16px;
@icon-icons-vkontakte-16px-total-width: 567px;
@icon-icons-vkontakte-16px-total-height: 555px;
@icon-icons-vkontakte-16px-image: '/assets/sprites-icons.png';
@icon-icons-vkontakte-16px: 446px 312px -446px -312px 16px 16px 567px 555px '/assets/sprites-icons.png' icon-icons-vkontakte-16px;
@icon-icons-whatsapp-16px-name: icon-icons-whatsapp-16px;
@icon-icons-whatsapp-16px-x: 140px;
@icon-icons-whatsapp-16px-y: 526px;
@icon-icons-whatsapp-16px-offset-x: -140px;
@icon-icons-whatsapp-16px-offset-y: -526px;
@icon-icons-whatsapp-16px-width: 16px;
@icon-icons-whatsapp-16px-height: 16px;
@icon-icons-whatsapp-16px-total-width: 567px;
@icon-icons-whatsapp-16px-total-height: 555px;
@icon-icons-whatsapp-16px-image: '/assets/sprites-icons.png';
@icon-icons-whatsapp-16px: 140px 526px -140px -526px 16px 16px 567px 555px '/assets/sprites-icons.png' icon-icons-whatsapp-16px;
@spritesheet-width: 567px;
@spritesheet-height: 555px;
@spritesheet-image: '/assets/sprites-icons.png';
@spritesheet-sprites: @icon-icons-bag-cash-20px @icon-icons-chart-20px @icon-icons-collegesuccess-300px @icon-icons-course-db-25px @icon-icons-course-devops-25px @icon-icons-course-html-25px @icon-icons-course-java-25px @icon-icons-course-js-25px @icon-icons-course-php-25px @icon-icons-course-qa-25px @icon-icons-course-ruby-25px @icon-icons-course-secutity-25px @icon-icons-course-sql-25px @icon-icons-facebook-mono-16 @icon-icons-github-16px @icon-icons-github-mono-16 @icon-icons-instagram-mono-16 @icon-icons-linkedin-16px @icon-icons-linkedin-mono-16 @icon-icons-mail-16px @icon-icons-salesman-20px @icon-icons-skype-mono-16 @icon-icons-tech-angularjs @icon-icons-tech-backbone @icon-icons-tech-bash @icon-icons-tech-capistrano @icon-icons-tech-cassandra @icon-icons-tech-composer @icon-icons-tech-csharp @icon-icons-tech-css3 @icon-icons-tech-db @icon-icons-tech-dns @icon-icons-tech-docker @icon-icons-tech-git @icon-icons-tech-heroku @icon-icons-tech-html5 @icon-icons-tech-http @icon-icons-tech-java @icon-icons-tech-jquery @icon-icons-tech-js @icon-icons-tech-mongodb @icon-icons-tech-mysql @icon-icons-tech-neo4j @icon-icons-tech-nodejs @icon-icons-tech-nosql @icon-icons-tech-php @icon-icons-tech-postgresql @icon-icons-tech-redis @icon-icons-tech-ruby-on-rails @icon-icons-tech-ruby @icon-icons-tech-silex @icon-icons-tech-sqlite @icon-icons-tech-symfony2 @icon-icons-tech-ubuntu @icon-icons-tech-unix @icon-icons-tech-vagrant @icon-icons-vk-mono-16 @icon-icons-vkontakte-16px @icon-icons-whatsapp-16px;
@spritesheet: 567px 555px '/assets/sprites-icons.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
