{% spaceless %}
<div id="workshop-bonuses" class="section curve-after">
  <div class="wrap">

    <h2>Бонуси і подарунки</h2>
    
    <div class="list">
        <div class="item">
            <i class="projector"></i>
            <span>Презентації, методички та рекомендації по матеріалах заходу</span>
        </div>

        <div class="plus">+</div>

        <div class="item">
            <i class="support"></i>
            <span>Онлайн підтримка під час навчання</span>            
        </div>

        <div class="plus">+</div>

        <div class="item">
            <i class="help"></i>
            <span>Усім учасникам - подарунки!</span>
        </div>

        <div class="plus">+</div>

        <div class="item">
            <i class="pizza"></i>
            <span>Під час заходу - халявні піцца/пиво!</span>
        </div>
    </div>

  </div>
</div>
{% endspaceless %}