{% spaceless %}
  <div id="form" class="section curve-after">
    <div class="wrap">

    <form class="light-form" method="post" action="{{ path('workshop-form') }}">
      <h3>Якщо вас зацікавив даний воркшоп, -<br/>залиште свої контактні дані у формі нижче, і ми вам перетелефонуємо.</h3>

      <input type="hidden" name="workshop" value="{{ workshop.id }}" />

      <div class="row">
        <label for="name">Ім'я:</label>
        <input id="name" name="name" type="text" placeholder="Тарас Шевченко" validate required />
      </div>

      <div class="row">
        <label for="phone">Телефон:</label>
        <input id="phone" name="phone" type="text" placeholder="093 123 45 67" validate required pattern="^[\d\s\+\)\()\-]+$" />
      </div>

      <input type="submit" value="Надіслати" />

      <i class="animate animate-workshop"></i>

      <div id="message-success" class="hidden">Дякуємо за реєстрацію на воркшоп "{{ workshop.title }}"! Скоро з вами зв'яжеться наш менеджер.</div>
      <div id="message-failed" class="hidden">Щось пішло не так.. Спробуйте ще раз, або зателефонуйте нам.</div>
    </form>

    </div>
  </div>
{% endspaceless %}