{% spaceless %}
<div id="course-bonuses" class="section curve-after">
  <div class="wrap">

    <h2>Бонуси і подарунки</h2>
    
    <div class="list">
        <div class="item">
            <i class="books"></i>
            <span>Методички і домашні завдання по кожному уроку курсу</span>
        </div>

        <div class="plus">+</div>

        <div class="item">
            <i class="mentor"></i>
            <span>Ментор (наставник) кожному студенту</span>
        </div>

        <div class="plus">+</div>

        <div class="item">
            <i class="certificate"></i>
            <span>Сертифікат про успішне завершення курсу</span>            
        </div>

        <div class="plus">+</div>

        <div class="item">
            <i class="support"></i>
            <span>Онлайн підтримка під час навчання на курсах</span>            
        </div>

        <div class="plus">+</div>

        <div class="item">
            <i class="help"></i>
            <span>Всім студентам допомога в працевлаштування. Найкращому - повне повернення коштів!</span>
        </div>
    </div>

  </div>
</div>
{% endspaceless %}
