{% spaceless %}
<div id="course-description" class="curve-after section">
<div class="wrap clearfix">

    <div class="top-line">
        <div class="item during">
            <i></i> Тривалість: 12 годин
        </div>

        <div class="item during">
            <i></i> Тривалість: 12 годин
        </div>

        <div class="item during">
            <i></i> Тривалість: 12 годин
        </div>

        <div class="item during">
            <i></i> Вартість: 3500 грн
        </div>
    </div>

    <div class="desc">
        {{ course.desc_full }}
        Porta id parturient aptent facilisi nullam feugiat et suspendisse sit ridiculus scelerisque risus inceptos posuere purus ad sapien cursus a. Faucibus platea aptent mi turpis ullamcorper duis dapibus auctor eu malesuada congue condimentum a ullamcorper platea in lectus montes ac a ante dignissim a id eu nec mi.
    </div>

</div>
</div>
{% endspaceless %}