{% spaceless %}
<div id="course-footer" class="section curve-after">
  <div class="wrap">

    <h2>Бонуси і подарунки</h2>
    
    <div class="list">
        <div class="item">
            <i class="books"></i>
            <span>Методички і домашні завдання по кожному уроку курсу</span>
        </div>

        <div class="plus">+</div>

        <div class="item">
            <i class="certificate"></i>
            <span>Сертифікат про успішне завершення курсу</span>            
        </div>

        <div class="plus">+</div>

        <div class="item">
            <i class="support"></i>
            <span>Онлайн підтримка під час навчання на курсах</span>            
        </div>

        <div class="plus">+</div>

        <div class="item">
            <i class="help"></i>
            <span>Кращим студентам - допомога в праце&shy;влаштуванні після завершення курсу, та повне повернення коштів</span>
        </div>
    </div>

  </div>
</div>
{% endspaceless %}