{% spaceless %}
<div id="header-menu" class="animated" data-animate-from="150" data-animate-effect="fadeInDown">
<div class="wrap">

    <a href="javascript:;" id="logo">
        <i class="icon-big animated flip"></i>
        <i class="icon-small animated flip"></i>
        <span>CURSOR education</span>
    </a>

    <ul id="menu" class="animated fadeIn">
        <li><a href="/">Головна</a></li>
        <li><a href="/#courses">Курси</a></li>
        <li><a href="/#partners">Партнери</a></li>
        <li><a href="/#contacts">Контакти</a></li>
    </ul>

</div>
</div>
{% endspaceless %}