{% spaceless %}
<div id="header">

<div class="wrap">
  <div class="slogan clearfix animated flipInX">
    <span>{{ course.title }}</span>
  </div>
</div>

</div>
<div id="header-arrow"></div>
{% endspaceless %}