{% spaceless %}
<div id="header" class="gallery-x" data-gallery-class="wrap">

<div class="wrap">
  <div class="slogan clearfix animated flipInX">
    <span>Ми не школа. Ми не вуз.<br/>Ми просто навчаємо.</span>
  </div>
</div>

</div>
{% endspaceless %}