{% spaceless %}
<div id="course-program" class="section curve-after">
  <div class="wrap clearfix">

    <h2>Програма курсу</h2>

    <div class="row">
      {% for plan in coursePlan %}
        <div class="item">
            <div class="title">
                <div class="num">{{ plan.num }}</div>
                <span>{{ plan.title }}</span>
            </div>

            {% if plan.subitems %}
            <div class="childs">
              {% for subitem in plan.subitems %}
                <span>{{ subitem }}</span>
              {% endfor %}
            </div>
            {% endif %}

        </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endspaceless %}